@model EasyPro.Models.TransportersBalancing

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Delete</h2>
            </div>
            <hr />

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Transporter)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Transporter)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ActualBal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ActualBal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Rejects)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Rejects)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Spillage)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Spillage)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Varriance)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Varriance)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}