@model IEnumerable<EasyPro.Models.TransportersBalancing>

@{
    ViewData["Title"] = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ca8bf6;
            color: white;
        }
    .divScroll {
        width: 1000px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <h3 class="text-danger fa-bold">Transporters Balancing List</h3>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a asp-controller="Report" asp-action="DownloadTransportersBalReport" class="btn btn-info">Transporter Report</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a asp-action="Create" class="btn btn-primary">Add New</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="divScroll">
                    <div class="table-responsive">
                        <table class="table table-hover" id="customers">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Transporter)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ActualBal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Spillage)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Rejects)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Varriance)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Transporter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActualBal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Spillage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rejects)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Varriance)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
