@model IEnumerable<EasyPro.Models.DSupplierDeduc>

@{
    ViewData["Title"] = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #4cff00;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3 class="text-danger fa-bold">Farmers Deduction List</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover" id="customers">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sno)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateDeduc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateDeduc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td class="col-4">
                                    <a class="btn-warning btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    @*<a class="btn-info btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                    <a class="btn-danger btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>

