@model EasyPro.ViewModels.LoginVm
@{
    Layout = null;
}

<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Pro</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css">

    <link rel="stylesheet" href="~/assets/css/meanmenu/meanmenu.min.css">

    <link rel="stylesheet" href="~/assets/css/normalize.css">

    <link rel="stylesheet" href="~/assets/css/scrollbar/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" href="~/assets/css/jvectormap/jquery-jvectormap-2.0.3.css">

    <link rel="stylesheet" href="~/assets/css/notika-custom-icon.css">

    <link rel="stylesheet" href="~/assets/css/wave/waves.min.css">

    <link rel="stylesheet" href="~/assets/css/main.css">

    <link rel="stylesheet" href="~/assets/style.css">

    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <link rel="stylesheet" href="~/assets/css/w3.css">

    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
    @if (TempData["regSuccess"] != null)
    {

        <div class="@TempData["regSuccess"]  alert-dismissible alert alert-primary">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["regSuccess"]
        </div>



    }
    else
    {

    }
    <style>
        .castomtextbox {
            padding: 8px;
            font-weight: bold;
            color: white;
            width: 100%;
            margin-top: 8px;
            background-color: #009100;
            border: none;
            border-radius: 8px;
        }

        .castombuttonnn {
            padding: 8px;
            color: #f2bb25;
            font-weight: bold;
            width: 100%;
            margin-top: 8px;
            background-color: white;
            border: solid 2px #f2bb25;
            border-radius: 8px;
        }

        input::-webkit-input-placeholder {
            color: white;
        }
    </style>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-lg-1"></div>
            <div >
                <div class="col-lg-10 col-sm-10 col-xl-10" style=" background-color:white; margin-top:50px;">
                    @if (TempData["success"] != null)
                    {
                        <div class="text-center text-success p-2">
                            <strong>Success!!..</strong>@TempData["success"]
                        </div>
                    }
                    <div style="padding:8px;margin:8px">
                        <div class="row">

                            <div class="col-lg-6 col-sm-6 col-xl-6">
                                <div style="padding:8px;margin-top:50px;text-align:center;padding-right:2px;margin-left:10px">
                                    <img src="~/Images/AMTEC LOGO233200512.jpg" style="max-height:130px;margin-top:0px;width:auto;" class="img-fluid" />
                                </div>
                                <br />
                                <div style="text-align:center;font-size:50PX;color:#fda901;font-weight:bold">EASYPROD MIS</div>

                            </div>
                            <div class="col-lg-6 col-sm-6 col-xl-6">

                                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div style="padding:8px;margin:8px;color:white">
                                        <div class="d-sm-none d-md-none d-none d-lg-block" style="height:80px;"></div>
                                        <label style="color:black">User Name</label>
                                        <input type="text" name="Username" class="castomtextbox" placeholder="Username" />
                                        <label style="color:black">Password</label>
                                        <input type="password" name="Password" class="castomtextbox" placeholder="Password" />
                                        <br /> <br />
                                        <input type="submit" class="castombuttonnn" value="Login" />
                                    </div>
                                }
                                <div style="margin:8px;color:black">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                                    <label class="custom-control-label" for="defaultUnchecked">Remember Me</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <a asp-action="" asp-controller="">  Forgot Password</a>

                                            </div>
                                            @*<div class="col-sm-6">
                                            Don't have an account?
                                            <span>
                                                <a style="color:cornflowerblue" asp-area="" asp-controller="Users" asp-action="Create">Sign up</a>
                                            </span>
                                        </div>*@
                                        </div>
                                    </div>

                                </div>
                                @if (TempData["Err"] != null)
                                {
                                    <div class="text-center text-danger p-2">
                                        <strong>Opps!!..</strong>@TempData["Err"]
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-1 col-xl-1"></div>
            </div>
        </div>
    </div>
</body>
    </html>
      