@model IEnumerable<EasyPro.Models.AgProducts4>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #4cff00;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #dec3eb;
                color: white;
            }

        .divScroll {
            width: 1050px;
            height: 200px;
            overflow: auto;
        }
    </style>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="normal-table-list mg-t-30">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="text-danger fa-bold">UnApproved Products</h3>
                    </div>
                    <div class="col-sm-5 col-xs-12">

                    </div>
                    <div class="col-sm-3 col-xs-3">

                    </div>
                </div>

                <div class="bsc-tbl-hvr table-border-style">
                    <div class="divScroll">
                        <div class="table-responsive">
                            <table class="table table-hover" id="customers">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Qin)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateEntered)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SupplierId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Pprice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sprice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Branch)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qin)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateEntered)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SupplierId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pprice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sprice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Branch)
                                            </td>
                                            <td>
                                                <a asp-action="ApproveProduct" asp-route-id="@item.Id">Approve</a> |
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                </div>
        </div>
    </div>