@model EasyPro.Models.DSupplier

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create New Supplier</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Sno" class="control-label"></label>
                                <input asp-for="Sno" autocomplete="off" class="form-control" required />
                                <span asp-validation-for="Sno" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Registration Date</label>
                                    <input type="date" asp-for="Regdate" class="form-control" required />
                                    <span asp-validation-for="Regdate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="IdNo" class="control-label"></label>
                                    <input asp-for="IdNo" autocomplete="off" class="form-control" required />
                                    <span asp-validation-for="IdNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Names" class="control-label"></label>
                                <input asp-for="Names" type="text" autocomplete="off" class="form-control" required />
                                <span asp-validation-for="Names" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="PhoneNo" class="control-label"></label>
                                    <input asp-for="PhoneNo" type="text" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Branch" class="control-label"></label>
                                    <select asp-for="Branch" class="form-control" asp-items="@ViewBag.brances" required></select>
                                    <span asp-validation-for="Branch" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="County" class="control-label">County</label>
                                    <select asp-for="County" class="form-control" asp-items="@ViewBag.counties" required>
                                        <option value="" disabled selected hidden>Please Choose...</option>
                                    </select>
                                    <span asp-validation-for="County" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="District" class="control-label">Sub County</label>
                                <select asp-for="District" class="form-control" asp-items="@ViewBag.SubCountyName" required>
                                    <option value="" disabled selected hidden>Please Choose...</option>
                                </select>
                                <span asp-validation-for="District" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Division" class="control-label">Ward</label>
                                    <select asp-for="Division" class="form-control" asp-items="@ViewBag.WardSubCounty" required>
                                        <option value="" disabled selected hidden>Please Choose...</option>
                                    </select>
                                    <span asp-validation-for="Division" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Location" class="control-label"></label>
                                    <select asp-for="Location" class="form-control" asp-items="@ViewBag.locations">
                                        <option value="" disabled selected hidden>Please Choose...</option>
                                    </select>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Village" class="control-label"></label>
                                    <input asp-for="Village" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="Village" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="TransCode" class="control-label">Payment Mode</label>
                                <select asp-for="TransCode" class="form-control" asp-items="@ViewBag.payment" required></select>
                                <span asp-validation-for="TransCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Gender</label>
                                <div class="form-group">
                                    <select asp-for="Type" class="form-control" asp-items="@ViewBag.gender" required></select>
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" autocomplete="off" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <b class="text-info">Bank Activities</b>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Bcode" class="control-label"></label>
                                    <select asp-for="Bcode" Value="Select Bank" class="form-control" asp-items="@ViewBag.banksname"></select>
                                    <span asp-validation-for="Bcode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="AccNo" class="control-label"></label>
                                    <input asp-for="AccNo" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="AccNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Bbranch" class="control-label">Bank Branch</label>
                                <select asp-for="Bbranch" class="form-control" asp-items="@ViewBag.bankbrances" required></select>
                                <span asp-validation-for="Bbranch" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
