@model EasyPro.Models.DSupplier

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Edit Suppliers</h2>
            </div>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Sno" class="control-label"></label>
                                <input asp-for="Sno" autocomplete="off" class="form-control" readonly />
                                <span asp-validation-for="Sno" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Registration Date</label>
                                    <input asp-for="Regdate" type="date" autocomplete="off" asp-for="Regdate" class="form-control" required />
                                    <span asp-validation-for="Regdate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="IdNo" class="control-label"></label>
                                    <input asp-for="IdNo" autocomplete="off" class="form-control" required />
                                    <span asp-validation-for="IdNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Names" class="control-label"></label>
                                <input asp-for="Names" autocomplete="off" class="form-control" required />
                                <span asp-validation-for="Names" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="PhoneNo" class="control-label"></label>
                                    <input asp-for="PhoneNo" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Date Of Birth</label>
                                    <input asp-for="Dob" type="date" asp-for="Dob" class="form-control" />
                                    <span asp-validation-for="Dob" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">

                            <div class="nk-int-st">
                                <div class="form-group">
                                    <input asp-for="Active" type="checkbox" />
                                    <label asp-for="Active" class="control-label"></label>
                                    <span asp-validation-for="Active" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="County" class="control-label">County</label>
                                    <select asp-for="County" id="county" class="form-control" asp-items="@ViewBag.counties" required>
                                    </select>
                                    <span asp-validation-for="County" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="District" class="control-label">Sub County</label>
                                <select asp-for="District" id="sub-county" class="form-control" asp-items="@ViewBag.subCounties" required disabled>
                                </select>
                                <span asp-validation-for="District" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Division" class="control-label">Ward</label>
                                    <select asp-for="Division" id="ward" class="form-control" asp-items="@ViewBag.wards" disabled>
                                        <option value="" disabled selected hidden>Please Choose...</option>
                                    </select>
                                    <span asp-validation-for="Division" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Location" class="control-label"></label>
                                    <select asp-for="Location" id="location" class="form-control"  asp-items="@ViewBag.locations">
                                    </select>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Village" class="control-label"></label>
                                    <input asp-for="Village" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="Village" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="TransCode" class="control-label">Payment Mode</label>
                                <select asp-for="TransCode" class="form-control" required asp-items="@ViewBag.payment"></select>
                                <span asp-validation-for="TransCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Gender</label>
                                <div class="form-group">
                                    <select asp-for="Type" class="form-control" required asp-items="@ViewBag.gender"></select>
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" autocomplete="off" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Branch" class="control-label"></label>
                                    <select asp-for="Branch" class="form-control" asp-items="@ViewBag.brances" required></select>
                                    <span asp-validation-for="Branch" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Approval" class="control-label">
                                        <input asp-for="Approval" type="checkbox" />@Html.DisplayNameFor(model => model.Approval)
                                        <span asp-validation-for="Approval" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Zone" class="control-label"></label>
                                <select id="zone" asp-for="Zone" Value="Select Bank" class="form-control" asp-items="@ViewBag.zones" required></select>
                                <span asp-validation-for="Zone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <b class="text-info">Bank Activities</b>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Bcode" class="control-label"></label>
                                    <select asp-for="Bcode" Value="Select Bank" class="form-control" asp-items="@ViewBag.banksname"></select>
                                    <span asp-validation-for="Bcode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="AccNo" class="control-label"></label>
                                    <input asp-for="AccNo" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="AccNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Bbranch" class="control-label">Bank Branch</label>
                                <select asp-for="Bbranch" class="form-control" asp-items="@ViewBag.bankbrances"></select>
                                <span asp-validation-for="Bbranch" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

 
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
            $(function () {
                let subcounties = @Html.Raw(Json.Serialize(ViewBag.SubCountyName));
                let wards = @Html.Raw(Json.Serialize(ViewBag.WardSubCounty));
                let locations = @Html.Raw(Json.Serialize(ViewBag.locations));

                //$.each(locations, function() {
                //    $('#location').append($("<option />").val(this.Lname).text(this.Lname));
                //});
                $('#county').on('change', function () {
                    $('#sub-county').empty();
                    $('#sub-county').append($('<option>').val('').text(''))
                    $('#sub-county').prop('disabled', false);
                    $('#ward').prop('disabled', true);
                    let county = $("#county").val();
                    let sub_counties = subcounties.filter(p => p.County.trim() === county.trim());

                    $.each(sub_counties, function() {
                        $('#sub-county').append($("<option />").val(this.Name).text(this.Name));
                    });
                });

                $('#sub-county').on('change', function () {
                    $('#ward').empty();
                    $('#ward').prop('disabled', false);
                    let subCounty = $("#sub-county").val();
                    let curr_wards = wards.filter(p => p.SubCounty.trim() === subCounty.trim());

                    $.each(curr_wards, function() {
                        $('#ward').append($("<option />").val(this.Name).text(this.Name));
                    });
                });
            });
    </script>
}
