@model IEnumerable<EasyPro.Models.DSupplier>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="basic-tb-hd">
                <p>
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </p>
                <p>Farmers</p>
            </div>
            <div class="bsc-tbl-hvr table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sno)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Regdate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Names)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AccNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Branch)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Regdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Names)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Branch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNo)
                            </td>
                            <td>
                                <a class="btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Sno">Edit</a> |
                                <a class="btn-info btn-sm" asp-action="Details" asp-route-id="@item.Sno">Details</a> |
                                <a class="btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Sno">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
