@model EasyPro.Models.Coffee.Marketer

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Marketing Form</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input type="date" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MarketerName" class="control-label"></label>
                        <select id="glAcc" asp-for="MarketerName" class="form-control" asp-items="@ViewBag.Marketer">
                            <option value="" disabled selected hidden> Select Marketer</option>
                        </select>
                        <span asp-validation-for="MarketerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Factory" class="control-label"></label>
                        <select id="glAcc" asp-for="Factory" class="form-control" asp-items="@ViewBag.Factory">
                            <option value="" disabled selected hidden> Select Factory</option>
                        </select>
                        <span asp-validation-for="Factory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select id="glAcc" asp-for="Category" class="form-control" asp-items="@ViewBag.parchment">
                            <option value="" disabled selected hidden> Select Parchment</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label asp-for="Grade" class="control-label"></label>
                        <select id="glAcc" asp-for="Grade" class="form-control" asp-items="@ViewBag.grading">
                            <option value="" disabled selected hidden> Select Grade</option>
                        </select>
                        <span asp-validation-for="Grade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Class" class="control-label"></label>
                        <select asp-for="Class" class="form-control" asp-items="@ViewBag.pclass" required>
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="Class" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kgs" class="control-label"></label>
                        <input asp-for="Kgs" class="form-control" required />
                        <span asp-validation-for="Kgs" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" required />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

