@model IEnumerable<EasyPro.ViewModels.PayrollVm>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h3 class="text-danger fa-bold">Payroll</h3>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <input id="gfg" type="text" class="form-control"
                           placeholder="Search here">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <a asp-action="Create" class="btn btn-primary">Process Payroll</a>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <input id="curryDate" class="form-control" type="date" />
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <a id="curryForward" class="btn btn-success">Carry Forward</a>
                </div>
            </div>

            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sno)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Names)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bank)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Branch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GrossPay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transport)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Registration)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Advance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Others)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Netpay)
                                </th>
                            </tr>
                        </thead>
                        <tbody id="geeks">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Names)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bank)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GrossPay)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Transport)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Registration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Advance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Others)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Netpay)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $("#gfg").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#geeks tr").filter(function () {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });

            $('#curryForward').on('click', function () {
                var curryDate = $("#curryDate").val();
                $.ajax({
                    type: 'GET',
                    url: "curryForward?period=" + curryDate,
                    contentType: 'application/json',
                    success: function (response) {
                        
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });
        });
    </script>
}
