@model EasyPro.Models.DCompany

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Details</h2>
            </div>
            <hr />

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Adress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adress)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Town)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Town)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Country)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Province)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Province)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.District)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.District)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Division)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Division)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Location)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FaxNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FaxNo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Website)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Website)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Fiscal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Fiscal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Auditid)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Auditid)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Auditdatetime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Auditdatetime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Acc)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Acc)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Motto)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Motto)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SendTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SendTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Smsno)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Smsno)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Smscost)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Smscost)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Smsport)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Smsport)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Period)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Period)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
