@model IEnumerable<EasyPro.Models.DCompany>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditdatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smsno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smscost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smsport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditdatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smsno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smscost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smsport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
