@model EasyPro.Models.DDebtor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DDebtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CertNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CertNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Locations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Locations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TregDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TregDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phoneno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phoneno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subsidy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subsidy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Accno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Accno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bbranch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bbranch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbranch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbranch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Auditid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Auditid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Auditdatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Auditdatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccDr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccDr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccCr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccCr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drcess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drcess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crcess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crcess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
