@model IEnumerable<EasyPro.Models.DDebtor>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h3 class="text-danger fa-bold">Debtor</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input id="gfg" type="text" class="form-control"
                           placeholder="Search here">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CertNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Locations)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TregDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phoneno)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Town)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accno)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bcode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bbranch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tbranch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="geeks">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CertNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Locations)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TregDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phoneno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Town)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Accno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bcode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bbranch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tbranch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#gfg").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#geeks tr").filter(function () {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

