@model IEnumerable<EasyPro.Models.Milktransfer>

@{
    ViewData["Title"] = "MilktransferIndex";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #4cff00;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1000px;
        height: 500px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3 class="text-danger fa-bold">Milk transfer List</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a asp-action="MilktransferCreate" class="btn btn-primary">Create New</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="divScroll">
                    <div class="table-responsive">
                        <table class="table table-hover" id="customers">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Transdate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Intake)
                                    </th>
                                    <th>
                                        From Station
                                    </th>
                                    <th>
                                        To Station
                                    </th>
                                    <th>
                                        From Branch
                                    </th>
                                    <th>
                                        To Branch
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Transdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Intake)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fromStation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tostation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromBranch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToBranch)
                                    </td>
                                    <td class="col-4">
                                        <a class="btn-danger btn-danger" asp-action="MilktransferDelete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

