@model EasyPro.Models.milkcontrol2

@{
    ViewData["Title"] = "RejectsDelete";
}

<h2>RejectsDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>milkcontrol2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Intake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Intake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cfa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cfa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spillage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spillage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.auditid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auditid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromStation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromStation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tostation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tostation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>
    </dl>
    
    <form asp-action="RejectsDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="RejectsIndex">Back to List</a>
    </form>
</div>
