<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1050px;
        height: 200px;
        overflow: auto;
    }
</style>

<div class="row">
    <div class="tabs-info-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="widget-tabs-int">
                        <div class="tab-hd">
                            <h3 class="text-danger fa-bold">All Sales Report</h3>
                        </div>
                        <div class="widget-tabs-list">
                            <div class="row">
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">DateFrom</label>
                                        <input id="firstdate" type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">DateTo</label>
                                        <input id="enddate" type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <label class="control-label">Sales Type</label>
                                    <select id="salestype" class="chzn-select form-control">
                                        <option value="0">ALL</option>
                                        <option value="1">OUTWARDS</option>
                                        <option value="2">INWARDS</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group ic-cmp-int float-lb floating-lb">
                                        <div class="nk-int-st">
                                            <label class="control-label">Branch</label>
                                            <select id="branchlist" class="chzn-select form-control" asp-items="@ViewBag.branches">
                                                <option>ALL Branches</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group ic-cmp-int float-lb floating-lb">
                                        <div class="nk-int-st">
                                            <label class="control-label">Product</label>
                                            <select id="product" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">---</label>
                                        <a asp-controller="AgrovetStockReceive" asp-action="DefaultIndex" class="btn btn-info">Back</a>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#allSalesReport">Report</a></li>
                                <li><a data-toggle="tab" href="#allSalesSummary">Summary</a></li>
                                <li><a data-toggle="tab" href="#allSalesSummaryDetailed">Detailed Summary</a></li>
                            </ul>
                            <div class="tab-content tab-custom-st">
                                <div id="allSalesReport" class="tab-pane fade in active">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-3 col-xs-12">
                                                    <a id="showtable" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-3 col-xs-12">
                                                    <a id="excel_report" class="btn btn-success w3-circle">Export Excel</a>
                                                </div>
                                                <div class="col-sm-3 col-xs-12">
                                                </div>
                                                <div class="col-sm-3 col-xs-12">
                                                    <label class="control-label">--</label>
                                                    <a id="print_report" class="btn btn-success w3-circle">Print Report</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tbl_rep_report">
                                                            <tr id="com"><th></th><th colspan="4" id="company"></th></tr>
                                                            <tr id="htitl"><th></th> <th colspan="4"> <strong>All Sales Report</strong></th></tr>
                                                            <tr id="hstartd"><th></th><th colspan="4" id="sema"></th>  </tr>
                                                            <tr id="huser"><th></th><th colspan="4" hidden id="user"></th>  </tr>
                                                            <tr id="companyname"><th></th><th colspan="4">Amtech Technologies ltd</th>  </tr>
                                                            <tr><th colspan="7"><hr /></th></tr>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Receipt No.</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>SNo</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                                <th>TransBy</th>
                                                                <th>User</th>
                                                                <th>Branch</th>
                                                                <th>Sales Type</th>
                                                            </tr>
                                                            <tbody id="tbl_rep_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Quantity</label>
                                                        <input id="totalquntity" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Sales</label>
                                                        <input value="0" id="Tselling" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="allSalesSummary" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summery" class="btn btn-success w3-circle">Export Excel</a>
                                                </div>
                                                <div class="col-sm-3 col-xs-12">
                                                    <label class="control-label">--</label>
                                                    <a id="print_report1" class="btn btn-success w3-circle">Print Report</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tbl_summary">
                                                            <tr id="com1"><th></th><th colspan="4" id="company1"></th></tr>
                                                            <tr id="htitl1"><th></th> <th colspan="4"> <strong>All Sales Summary Report</strong></th></tr>
                                                            <tr id="hstartd1"><th></th><th colspan="4" id="sema1"></th>  </tr>
                                                            <tr id="huser1"><th></th><th colspan="4" hidden id="user1"></th>  </tr>
                                                            <tr id="companyname1"><th></th><th colspan="4">Amtech Technologies ltd</th>  </tr>
                                                            <tr><th colspan="7"><hr /></th></tr>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                            <tbody id="tbl_sum_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Quantity</label>
                                                        <input id="totquntity" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Sales</label>
                                                        <input id="Tsell" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="allSalesSummaryDetailed" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery2" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summerydetailed" class="btn btn-success w3-circle">Export Excel</a>
                                                </div>
                                                <div class="col-sm-3 col-xs-12">
                                                    <label class="control-label">--</label>
                                                    <a id="print_reportdetailed" class="btn btn-success w3-circle">Print Report</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tbl_summarydetailedre">
                                                            <tr id="com2"><th></th><th colspan="4" id="company2"></th></tr>
                                                            <tr id="htitl2"><th></th> <th colspan="4"> <strong>All Sales Detailed Summary Report</strong></th></tr>
                                                            <tr id="hstartd2"><th></th><th colspan="4" id="sema2"></th>  </tr>
                                                            <tr id="huser2"><th></th><th colspan="4" hidden id="user2"></th>  </tr>
                                                            <tr id="companyname2"><th></th><th colspan="4">Amtech Technologies ltd</th>  </tr>
                                                            <tr><th colspan="7"><hr /></th></tr>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>CheckOff Sales(ksh)</th>
                                                                <th>Cash Sales(ksh)</th>
                                                                <th>Total(ksh)</th>
                                                            </tr>
                                                            <tbody id="tbl_summarydetailed">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Sales</label>
                                                        <input id="Tselldetailed" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            var today = new Date().toISOString().split('T')[0];
            $("#firstdate").val(today);
            $("#enddate").val(today);
            $("#com").hide();
            $("#htitl").hide();
            $("#hstartd").hide();
            $("#huser").hide();
            $("#com1").hide();
            $("#htitl1").hide();
            $("#hstartd1").hide();
            $("#huser1").hide();
            $("#com2").hide();
            $("#htitl2").hide();
            $("#hstartd2").hide();
            $("#huser2").hide();
            $("#companyname").hide();
            $("#companyname1").hide();
            $("#companyname2").hide();
            function getsharesreport() {
                $("#product").empty();
                var branch = $("#branchlist").val();
                $.ajax(
                    {
                        type: 'POST',
                        url: "getproductsreport?branch=" + branch,
                        contentType: 'application/json',
                        success: function (response) {
                            let products = response;
                            $('#product').append($('<option>').val('').text(''));
                            $.each(products, function () {
                                $('#product').append($("<option />").val(this.PName).text(this.PName));
                            });
                            $('#product').chosen();
                            $("#product").trigger("chosen:updated");
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            }
            $('#branchlist').on('change', function () {
                getsharesreport();
            });

            $("#showtable").click(function () {
                var startDate = $("#firstdate").val();
                var endDate = $("#enddate").val();
                var salestype = $("#salestype").val();
                var zone = $("#zone").val() ? $("#zone").val() : "";
                var product = $("#product").val() ? $("#product").val() : "";
                var branchlist = $("#branchlist").val();
                $.ajax(
                    {
                        type: 'POST',
                        url: `allSalesreport?startDate=${startDate}&endDate=${endDate}&product=${product}&salestype=${salestype}&branchlist=${branchlist}`,
                        contentType: 'application/json',
                        success: function (response) {
                            populateReports(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });

            $('#excel_report').on('click', function () {
                heading();
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `All Report ${date}`;
                $('#tbl_rep_report').table2excel({ filename: fileName, fileext: ".xls" });
            });

            function heading() {
                var company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" + date10 + "  TO  :" + date20;
                var usa = "Printed By  :" + user;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user').html(itemTableRows2);
            }
            function heading1() {
                var company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" + date10 + "  TO  :" + date20;
                var usa = "Printed By  :" + user;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company1').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema1').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user1').html(itemTableRows2);
            }
            function heading2() {
                var company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" + date10 + "  TO  :" + date20;
                var usa = "Printed By  :" + user;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company2').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema2').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user2').html(itemTableRows2);
            }
            $('#print_report').on('click', function () {
                $("#com").show();
                $("#htitl").show();
                $("#hstartd").show();
                $("#huser").show();
                $("#companyname").show();
                heading();
                var divToPrint = document.getElementById("tbl_rep_report");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com").hide();
                $("#htitl").hide();
                $("#hstartd").hide();
                $("#huser").hide();
                $("#companyname").hide();
            });
            $('#print_report1').on('click', function () {
                $("#com1").show();
                $("#htitl1").show();
                $("#hstartd1").show();
                $("#huser1").show();
                $("#companyname1").show();
                heading1();
                var divToPrint = document.getElementById("tbl_summary");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com1").hide();
                $("#htitl1").hide();
                $("#hstartd1").hide();
                $("#huser1").hide();
                $("#companyname1").hide();
            });
            $('#print_reportdetailed').on('click', function () {
                $("#com2").show();
                $("#htitl2").show();
                $("#hstartd2").show();
                $("#huser2").show();
                $("#companyname2").show();
                heading2();
                var divToPrint = document.getElementById("tbl_summarydetailedre");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com2").hide();
                $("#htitl2").hide();
                $("#hstartd2").hide();
                $("#huser2").hide();
                $("#companyname2").hide();
            });

            $('#excel_summerydetailed').on('click', function () {
                heading2();
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `All Detailed Summery ${date}`;
                $('#tbl_summarydetailedre').table2excel({ filename: fileName, fileext: ".xls" });
            });
            $('#excel_summery').on('click', function () {
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `All Summery ${date}`;
                $('#tbl_summary').table2excel({ filename: fileName, fileext: ".xls" });
            });

            $("#showSummery").click(function () {
                var startDate = $("#firstdate").val();
                var endDate = $("#enddate").val();
                var salestype = $("#salestype").val();
                var zone = $("#zone").val() ? $("#zone").val() : "";
                var product = $("#product").val() ? $("#product").val() : "";
                var branchlist = $("#branchlist").val();
                $.ajax(
                    {
                        type: 'POST',
                        url: `allSalesSummary?startDate=${startDate}&endDate=${endDate}&product=${product}&salestype=${salestype}&branchlist=${branchlist}`,
                        contentType: 'application/json',
                        success: function (response) {
                            response = response ? response : []
                            populateSummary(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });
            $("#showSummery2").click(function () {
                var startDate = $("#firstdate").val();
                var endDate = $("#enddate").val();
                var salestype = $("#salestype").val();
                var zone = $("#zone").val() ? $("#zone").val() : "";
                var product = $("#product").val() ? $("#product").val() : "";
                var branchlist = $("#branchlist").val();
                $.ajax(
                    {
                        type: 'POST',
                        url: `allSalesSummaryDetailed?startDate=${startDate}&endDate=${endDate}&product=${product}&salestype=${salestype}&branchlist=${branchlist}`,
                        contentType: 'application/json',
                        success: function (response) {
                            response = response ? response : []
                            populateSummarydetailed(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });
            function populateReports(intakes) {
                let itemTableRows = new Array();
                $('#Tbuying').val('0');
                $('#Tselling').val('0');
                $('#TPL').val('0');
                let Tselling = 0;
                let quntity = 0;
                let totalquntity = 0;
                intakes.forEach(i => {
                    Tselling += i.Amount;
                    quntity = i.Qua;
                    if (i.Amount < 0) {
                        quntity = quntity * -1;
                    }
                    totalquntity += quntity;
                    let type = "All";
                    let dd1 = new Date(i.TDate).toLocaleDateString();
                    itemTableRows.push(`<tr>
                                                <td>${dd1}</td>
                                                <td>${i.RNo}</td>
                                                <td>${i.PCode}</td>
                                                <td>${i.Remarks}</td>
                                                <td>'${i.SNo}</td>
                                                <td>${quntity}</td>
                                                <td>${i.Amount}</td>
                                                <td>${i.Transby}</td>
                                                <td>${i.UserId}</td>
                                                <td>${i.Branch}</td>
                                                <td>${type}</td>
                                            </tr>`)
                });
                itemTableRows.push(`<tr>
                                            <td colspan="5"><h3>Total</h3></td>
                                                <td>${totalquntity}</td>
                                                <td>${Tselling}</td>
                                            </tr>`);
                $('#Tselling').val(Tselling);
                $('#totalquntity').val(totalquntity);
                $('#tbl_rep_details').html(itemTableRows);
            }

            function populateSummary(summary) {
                let itemTableRows = new Array();
                $('#Tbuying').val('0');
                $('#Tselling').val('0');
                $('#TPL').val('0');
                let quntity = 0;
                let totalquntity = 0;
                let Tselling = 0;
                summary.forEach(i => {
                    i.sno = i.sno ? i.sno : "";
                    i.product = i.product ? i.product : "";
                    quntity = i.quantity;
                    if (i.amount < 0) {
                        quntity = quntity * -1;
                    }
                    totalquntity += quntity;
                    Tselling += i.amount;
                    let dd1 = new Date(i.date).toLocaleDateString();
                    itemTableRows.push(`<tr>
                                                <td>${dd1}</td>
                                                <td>${i.product}</td>
                                                <td>${i.productName}</td>
                                                <td>${quntity}</td>
                                                <td>${i.amount}</td>
                                            </tr>`)
                });
                itemTableRows.push(`<tr>
                                            <td colspan="3"><h3>Total</h3></td>
                                                <td>${totalquntity}</td>
                                                <td>${Tselling}</td>
                                            </tr>`);
                $('#Tsell').val(Tselling);
                $('#totquntity').val(totalquntity);
                $('#tbl_sum_details').html(itemTableRows);
            }

            function populateSummarydetailed(summary) {
                let itemTableRows = new Array();
                $('#Tselldetailed').val('0');
                let Tselling = 0;
                summary.forEach(i => {
                    i.sno = i.sno ? i.sno : "";
                    i.product = i.product ? i.product : "";
                    Tselling += i.Total;
                    let dd1 = new Date(i.date).toLocaleDateString();
                    itemTableRows.push(`<tr>
                                                <td>${dd1}</td>
                                                <td>${i.Checkoff}</td>
                                                <td>${i.cash}</td>
                                                <td>${i.Total}</td>
                                            </tr>`)
                });
                itemTableRows.push(`< tr >
                                              <td colspan="3"><h5>Total Sales:</h5></td>
                                               <td>${Tselling}</td>
                                          </tr >`);
                $('#Tselldetailed').val(Tselling);
                $('#tbl_summarydetailed').html(itemTableRows);
            }
        });
    </script>
}

