@model EasyPro.Models.DTransport

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                    <h2>Edit Assign Transporters</h2>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                    @if (ViewBag.isAinabkoi){
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Zone</label>
                                <select id="zone" Value="Select Bank" asp-for="Zone" class="form-control" asp-items="@ViewBag.zones"></select>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="MorningEvening">
                    <div class="form-group ic-cmp-int float-lb floating-lb">
                        <div class="nk-int-st">
                            <label class="control-label">Morning/Evening</label>
                            <select id="mevng" Value="Select Bank" asp-for="Morning" class="form-control" asp-items="@ViewBag.morningEve"></select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="producttype" class="control-label">Organization Code</label>
                                <select asp-for="producttype" class="form-control" asp-items="@ViewBag.producttypes" required>
                                    <option value="" disabled selected hidden>Please Choose...</option>
                                </select>
                                <span asp-validation-for="producttype" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int float-lb floating-lb">
                                <div class="nk-int-st">
                                    <div class="form-group">
                                        <label class="control-label">Date Inactivate</label>
                                        <input type="date" asp-for="DateInactivate" class="form-control" />
                                        <span asp-validation-for="DateInactivate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Assignment Date</label>
                                    <input type="date" asp-for="Startdate" class="form-control" required />
                                    <span asp-validation-for="Startdate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="TransCode" class="control-label"></label>
                                    <input id="tcode" asp-for="TransCode" class="form-control" required />
                                    <span asp-validation-for="TransCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Transporter Name</label>
                                    <input id="tname" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Sno" class="control-label"></label>
                                    <input id="sno" asp-for="Sno" class="form-control" required />
                                    <span asp-validation-for="Sno" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Name</label>
                                    <input id="sname" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Rate" class="control-label"></label>
                                    <input asp-for="Rate" class="form-control" required />
                                    <span asp-validation-for="Rate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="Active" class="control-label">
                                        <input asp-for="Active" type="checkbox" />@Html.DisplayNameFor(model => model.Active)
                                        <span asp-validation-for="Active" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
    $(function () {
            var checkiftoenable = @Html.Raw(Json.Serialize(ViewBag.checkiftoenable));
            if (checkiftoenable === 0) {
                $('#zone1').hide();
                $('#MorningEvening').hide();
            }
            else {
                $('#zone1').hide();
                $('#MorningEvening').show();
            }

            $('#sno').on('keyup', function () {
                var selectVal = $("#sno").val().toUpperCase();
                getSelectedDateIntakes();
            });
           
            $('#tcode').on('change', function () {
                var selectVal = $("#tcode").val();
                var transporters = @Html.Raw(Json.Serialize(ViewBag.transporters));
                var selecttransporters = transporters.filter(p => p.TransCode === selectVal);
                if (selecttransporters[0]) {
                    $("#tname").val(selecttransporters[0].TransName);
                }
            });
           
            $('#sno').on('keyup', function () {
                 var suppliers = @Html.Raw(Json.Serialize(ViewBag.suppliers));
                    var selectVal = $("#sno").val().toUpperCase();
                    var selectsuppliers = suppliers.filter(p => p.Sno === selectVal);
                        if (selectsuppliers[0]) {
                            $("#sname").val(selectsuppliers[0].Names);
                        }
                });
            });
</script>
}
