@model EasyPro.ViewModels.TranssupplyVM.Agrovetsales

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Product Sale</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.RNo" class="control-label"></label>
                                <input id="RNo" asp-for="AgReceipt.RNo" class="form-control" />
                                <span asp-validation-for="AgReceipt.RNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.TDate" class="control-label">Date</label>
                                <input id="TDate" type="date" asp-for="AgReceipt.TDate" class="form-control" />
                                <span asp-validation-for="AgReceipt.TDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">PCode</label>
                                <input id="pcode" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Product Name</label>
                                <select id="pname" asp-for="AgReceipt.PCode" class="form-control" asp-items="@ViewBag.agproductsall">
                                </select>
                                <span asp-validation-for="AgReceipt.PCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Bprice" class="control-label">Bprice</label>
                                <input id="bprice" asp-for="AgReceipt.Bprice" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.Bprice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Sprice" class="control-label"></label>
                                <input id="sprice" asp-for="AgReceipt.Sprice" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.Sprice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input name="sales" type="radio" id="cash" />
                                <label class="control-label" for="cash">Cash</label>
                            </div>
                            <div class="form-group">
                                <input name="sales" type="radio" id="checkOff" />
                                <label class="control-label" for="checkOff">CheckOff</label>
                            </div>
                            <div class="form-group">
                                <input name="sales" type="radio" id="transporter" />
                                <label class="control-label" for="transporter">Transporter</label>
                            </div>
                            <div class="form-group">
                                <input name="sales" type="radio" id="staff" />
                                <label class="control-label" for="staff">Staff</label>
                            </div>
                        </div>

                        <div class="col-sm-8 col-xs-12">
                            <div id="cash_details"></div>
                            <div class="row" id="checkOffDetails">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">SNo</label>
                                                <input id="sno" asp-for="AgReceipt.SNo" class="form-control" />
                                                <span asp-validation-for="AgReceipt.SNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Name</label>
                                                <input id="names" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Gross</label>
                                                <input id="Gross" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Deductions</label>
                                                <input id="Deductions" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Net</label>
                                                <input id="Net" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="transpoterDetails">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">T Code</label>
                                                <input id="tsno" asp-for="AgReceipt.SNo" class="form-control" />
                                                <span asp-validation-for="AgReceipt.SNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Name</label>
                                                <input id="tname" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Net</label>
                                                <input id="TNet" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="staffDetails">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Staff Name</label>
                                                <select id="sname" asp-validation-for="AgReceipt.SNo" class="form-control" asp-items="@ViewBag.staffs">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Qua" class="control-label"></label>
                                <input id="qnty" asp-for="AgReceipt.Qua" class="form-control" />
                                <span asp-validation-for="AgReceipt.Qua" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Amount" class="control-label"></label>
                                <input id="totalamnt" asp-for="AgReceipt.Amount" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.Amount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.SBal" class="control-label"></label>
                                <input id="sbal" asp-for="AgReceipt.SBal" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.SBal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                @*<label asp-for="AgReceipt.Branch" class="control-label"></label>
                        <select id="bname" asp-for="AgReceipt.Branch" class="form-control" asp-items="@ViewBag.branches">
                            <option value="" disabled selected hidden>Please select</option>
                        </select>
                        <span asp-validation-for="AgReceipt.Branch" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <a id="next1" class="btn btn-success">Next</a>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a id="next" class="btn btn-success">Next</a>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a id="next2" class="btn btn-success">Next</a>
                    </div>
                </div>

                <hr />
                <div class="bsc-tbl-hvr table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>Code.</th>
                                <th>Name</th>
                                <th>Qnty</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Amount</th>
                                <th><a id="clearAll" class="btn btn-danger">CLEAR</a></th>
                            </tr>
                            <tbody id="details">
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <h5 class="text-center text-danger">Make Payement</h5>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Total Amount</label>
                                <input id="Amnttopay" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Receive Amount</label>
                                <input id="ttolpaid" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Balance Amount</label>
                                <input id="balance" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input id="print" type="checkbox" />
                            <label class="control-label">Print</label>
                        </div>
                        <div class="form-group">
                            <input id="sms" type="checkbox" />
                            <label class="control-label">SMS</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                       
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <a id="new" class="btn btn-success">New</a>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a id="save1" class="btn btn-success">Save</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
    $(function () {
        let isStaff = false;
        let saleItems = new Array();
            $("#pname").val("");
            $("#sname").val("");
            $('#cash').prop('unchecked');
            $('#checkOffDetails').hide();
            $('#transpoterDetails').hide();
            $('#staffDetails').hide();
            $('#next').hide();
            $('#next1').hide();
            $('#next2').hide();
            $('input[type="radio"]').click(function () {
                if ($(this).prop("checked") && $(this).attr('id') == 'cash') {
                    isStaff = false;
                    $('#cash_details').show();
                    $('#checkOffDetails').hide();
                    $('#transpoterDetails').hide();
                    $('#staffDetails').hide();
                    $('#next1').hide();
                    $('#next2').hide();
                    $('#next').show();
                }
                if ($(this).prop("checked") && $(this).attr('id') == 'checkOff') {
                    isStaff = false;
                    $('#cash_details').hide();
                    $('#checkOffDetails').show();
                    $('#transpoterDetails').hide();
                    $('#staffDetails').hide();
                    $('#next1').hide();
                    $('#next2').hide();
                    $('#next').show();
                }
                if ($(this).prop("checked") && $(this).attr('id') == 'transporter') {
                    isStaff = false;
                    $('#cash_details').hide();
                    $('#checkOffDetails').hide();
                    $('#staffDetails').hide();
                    $('#transpoterDetails').show();
                    $('#next').hide();
                    $('#next1').show();
                    $('#next2').hide();
                }
                if ($(this).prop("checked") && $(this).attr('id') == 'staff') {
                    isStaff = true;
                    $('#cash_details').hide();
                    $('#checkOffDetails').hide();
                    $('#transpoterDetails').hide();
                    $('#staffDetails').show();
                    $('#next').hide();
                    $('#next1').hide();
                    $('#next2').show();
                }
                
                let journalDetails = new Array();
                $('#drAmt').on('blur', function () {
                    let drAmt = parseFloat($("#drAmt").val());
                    if (drAmt) {
                        buildJournalDetails();
                    }
                });

                $('#clearAll').on('click', function () {
                    saleItems = new Array();
                    populateDetailsTable();
                });

                $('#save1').on('click', function () {
                    let print = $('#print').prop('checked');
                    let sms = $('#sms').prop('checked');
                    $.ajax({
                        type: 'POST',
                        url: "save?RNo=" + $("#RNo").val() + "&isStaff=" + isStaff + "&sms=" + sms + "&print=" + print,
                        contentType: 'application/json',
                        data: JSON.stringify(saleItems),
                        success: function (response) {
                            saleItems = new Array();
                            populateTable();
                            clearafthersave();
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                });

               function populateDetailsTable() {
                    let itemTableRows = new Array();
                    saleItems.forEach(j => {
                        drAmt = j.isdebit ? j.amount : 0;
                        crAmt = j.isdebit ? 0 : j.amount;
                        itemTableRows.push(`<tr>
				        <td>${j.glAcc}</td>
                        <td>${drAmt}</td>
                        <td>${crAmt}</td>
			        </tr>`);
                    });

                    $('#details').html(itemTableRows);
                }
            });
            $('#pname').on('click', function () {
                var products = @Html.Raw(Json.Serialize(Model.AgProductobj));
                
                 var selectVal = $("#pname").val();
                 var selectProducts = products.filter(p => p.PName === selectVal);
                if (selectProducts[0]) {
                    $("#pcode").val(selectProducts[0].PCode);
                    $("#qnty").val("1");
                    $("#Amnttopay").val("0");
                    $("#ttolpaid").val("0");
                    $("#balance").val("0");
                    $("#sbal").val(selectProducts[0].OBal);
                    $("#bprice").val(selectProducts[0].Pprice);
                    $("#sprice").val(selectProducts[0].Sprice);
                    var qty = parseFloat($("#qnty").val());
                    var price = parseFloat($("#sprice").val());
                    $("#totalamnt").val(qty * price);

                }
            });
            $('#new').on('click', function () {
                clearafthersave();

            });
        function clearafthersave() {
            $("#pcode").val("");
            $("#pname").val("");
            $("#tsno").val("");
            $("#tname").val("");
            $("#sno").val("");
            $("#names").val("");
            $("#qnty").val("0");
            $("#Amnttopay").val("0");
            $("#ttolpaid").val("0");
            $("#balance").val("0");
            $("#sbal").val("0");
            $("#bprice").val("0");
            $("#sprice").val("0");
            $("#totalamnt").val("0");
            $("#Gross").val("0");
            $("#Deductions").val("0");
            $("#Net").val("0");
        }

            $('#tsno').on('keyup', function () {
                var products = @Html.Raw(Json.Serialize(Model.DTransporter));
                var selectVal = $("#tsno").val().toUpperCase();
                var selectProducts = products.filter(p => p.TransCode === selectVal);
                if (selectProducts[0]) {
                    $("#tname").val(selectProducts[0].TransName);
                    sumtotalkgsT();
                }
            });
            function sumtotalkgsT() {
                let products = @Html.Raw(Json.Serialize(Model.ProductIntake));
                let selectVal = $("#tsno").val().toUpperCase();
                let selectProducts = products.filter(p => p.Sno === selectVal);
                let sumqty = 0;
                let sumDr = 0;
                let sumCr = 0;
                let totalsum = 0;
                selectProducts.forEach(p => {
                    sumDr += p.DR;
                    sumCr += p.CR;
                })
                totalsum = sumCr-sumDr;
                $("#TNet").val(totalsum);
            }
            $('#sno').on('keyup', function () {
                var products = @Html.Raw(Json.Serialize(Model.DSuppliers));
                var selectVal = parseInt($("#sno").val());
                var selectProducts = products.filter(p => p.Sno === selectVal);
                if (selectProducts[0]) {
                    $("#names").val(selectProducts[0].Names);
                    sumtotalkgs();
                }
            });
            function sumtotalkgs() {
                let products = @Html.Raw(Json.Serialize(Model.ProductIntake));
                let selectVal = $("#sno").val().toUpperCase();
                let selectProducts = products.filter(p => p.Sno === selectVal);
                let sumqty = 0;
                let sumDr = 0;
                let sumCr = 0;
                let sumtotal = 0;
                selectProducts.forEach(p => {
                    sumDr += p.DR;
                    sumCr += p.CR;
                })
                $("#Gross").val(sumDr);
                $("#Deductions").val(sumCr);
                let gross = sumDr;
                let deduction = sumCr;
                sumtotal = gross - deduction;
                $("#Net").val(sumtotal);
            }

            $('#next').on('click', function () {
                var pcode = $("#pcode").val();
                var pname = $("#pname").val();
                var bprice = $("#bprice").val();
                var sprice = $("#sprice").val();
                var qnty = $("#qnty").val();
                var totalamnt = parseFloat($("#totalamnt").val());
                var total = parseFloat($("#Amnttopay").val());
                var tpay = parseFloat($("#ttolpaid").val());
                
                saleItems.push({
                    Sno: $("#sno").val(),
                    sprice: sprice,
                    totalamnt: totalamnt,
                    pname: pname,
                    pcode: pcode,
                    Description: pname,
                    DateTime: $("#date").val(),
                    TransDate: $("#TDate").val(),
                    TransTime: $("#date").val(),
                    ProductType: "AGROVET",
                    Qsupplied: $("#qnty").val(),
                    Ppu: $("#sprice").val(),
                    CR: "0",
                    DR: totalamnt,
                    Balance: totalamnt,
                    Paid: "true",
                    Remarks: pname,
                    Branch: $("#bname").val(),
                });
                populateTable();
            });

        $('#next1').on('click', function () {
            var pcode = $("#pcode").val();
            var pname = $("#pname").val();
            var bprice = $("#bprice").val();
            var sprice = $("#sprice").val();
            var qnty = $("#qnty").val();
            var totalamnt = parseFloat($("#totalamnt").val());
            var total = parseFloat($("#Amnttopay").val());
            var tpay = parseFloat($("#ttolpaid").val());

            saleItems.push({
                Sno: $("#tsno").val(),
                sprice: sprice,
                totalamnt: totalamnt,
                pname: pname,
                pcode: pcode,
                Description: pname,
                DateTime: $("#date").val(),
                TransDate: $("#TDate").val(),
                TransTime: $("#date").val(),
                ProductType: "AGROVET",
                Qsupplied: $("#qnty").val(),
                Ppu: $("#sprice").val(),
                CR: "0",
                DR: totalamnt,
                Balance: totalamnt,
                Paid: "true",
                Remarks: pname,
                Branch: $("#bname").val(),
            });
            populateTable();
        });
        $('#next2').on('click', function () {
            var pcode = $("#pcode").val();
            var pname = $("#pname").val();
            var bprice = $("#bprice").val();
            var sprice = $("#sprice").val();
            var qnty = $("#qnty").val();
            var totalamnt = parseFloat($("#totalamnt").val());
            var total = parseFloat($("#Amnttopay").val());
            var tpay = parseFloat($("#ttolpaid").val());

            saleItems.push({
                Sno: $("#sname").val(),
                sprice: sprice,
                totalamnt: totalamnt,
                pname: pname,
                pcode: pcode,
                Description: pname,
                DateTime: $("#date").val(),
                TransDate: $("#TDate").val(),
                TransTime: $("#date").val(),
                ProductType: "AGROVET",
                Qsupplied: $("#qnty").val(),
                Ppu: $("#sprice").val(),
                CR: "0",
                DR: totalamnt,
                Balance: totalamnt,
                Paid: "true",
                Remarks: pname,
                Branch: $("#bname").val(),
            });
            populateTable();
        });

            $('#ttolpaid').on('keyup', function () {
                var qty = parseFloat($("#Amnttopay").val());
                var price = parseFloat($("#ttolpaid").val());
                if (qty && price) {
                    $("#balance").val(qty - price);
                }
            });

            $('#qnty').on('keyup', function () {
                calculatePrice();
            });

            function populateTable() {
                let itemTableRows = new Array();
                $("#Gross").val("");
                $("#Deductions").val("");
                saleItems.forEach(i => {
                    itemTableRows.push(`<tr>
				            <td>${i.pcode}</td>
                            <td>${i.pname}</td>
                            <td>${i.Qsupplied}</td>
                            <td>${i.sprice}</td>
                            <td>${i.totalamnt}</td>
                            <td>${i.Sno}</td>
			            </tr>`);
                });

                $('#details').html(itemTableRows);
                var final = totalamnt + total;
                $("#Amnttopay").val(final);
                $("#balance").val(final - tpay);
            }

            function calculatePrice() {
                var qty = parseFloat($("#qnty").val());
                var price = parseFloat($("#sprice").val());
                if (qty && price) {
                    $("#totalamnt").val(qty * price);
                }
            }
        });
</script>
}
