@model EasyPro.ViewModels.TranssupplyVM.Agrovetsales
@{
    ViewData["Title"] = "CreateReversal";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                    <h2>Product Sale Return</h2>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                    <div class="form-group ic-cmp-int float-lb floating-lb">
                        <div class="nk-int-st">
                            <label class="control-label">Zone</label>
                            <select id="zone" asp-for="AgReceipt.Zone" class="form-control" asp-items="@ViewBag.zones"></select>
                        </div>
                    </div>
                </div>
            </div>
            <form asp-action="CreateReversal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.RNo" class="control-label"></label>
                                <input id="RNo" asp-for="AgReceipt.RNo" class="form-control" />
                                <span asp-validation-for="AgReceipt.RNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.TDate" class="control-label">Date</label>
                                <input id="TDate" type="date" asp-for="AgReceipt.TDate" class="form-control" />
                                <span asp-validation-for="AgReceipt.TDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">PCode</label>
                                <input id="pcode" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Product Name</label>
                                <select id="pname" asp-for="AgReceipt.PCode" class="chzn-select form-control" asp-items="@ViewBag.agproductsall">
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="AgReceipt.PCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb" id="bprice1">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Bprice" class="control-label">Bprice</label>
                                <input id="bprice" asp-for="AgReceipt.Bprice" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.Bprice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Sprice" class="control-label"></label>
                                <input id="sprice" asp-for="AgReceipt.Sprice" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.Sprice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input name="sales" type="radio" id="cash" />
                                <label class="control-label" for="cash">Cash</label>
                            </div>
                            <div class="form-group">
                                <input name="sales" type="radio" id="checkOff" />
                                <label class="control-label" for="checkOff">CheckOff</label>
                            </div>
                            <div class="form-group">
                                <input name="sales" type="radio" id="transporter" />
                                <label class="control-label" for="transporter">Transporter</label>
                            </div>
                            <div class="form-group">
                                <input name="sales" type="radio" id="staff" />
                                <label class="control-label" for="staff">Staff</label>
                            </div>
                        </div>

                        <div class="col-sm-8 col-xs-12">
                            <div id="cash_details"></div>
                            <div class="row" id="checkOffDetails">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">SNo</label>
                                                <input id="sno" asp-for="AgReceipt.SNo" class="form-control" />
                                                <span asp-validation-for="AgReceipt.SNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Name</label>
                                                <input id="names" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Gross</label>
                                                <input id="Gross" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Deductions</label>
                                                <input id="Deductions" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Net</label>
                                                <input id="Net" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="transpoterDetails">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">T Code</label>
                                                <input id="tsno" asp-for="AgReceipt.SNo" class="form-control" />
                                                <span asp-validation-for="AgReceipt.SNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Name</label>
                                                <input id="tname" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Net</label>
                                                <input id="TNet" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="staffDetails">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group ic-cmp-int float-lb floating-lb">
                                            <div class="nk-int-st">
                                                <label class="control-label">Staff Name</label>
                                                <select id="sname" asp-validation-for="AgReceipt.SNo" class="form-control" asp-items="@ViewBag.staffs">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Qua" class="control-label"></label>
                                <input id="qnty" asp-for="AgReceipt.Qua" class="form-control" />
                                <span asp-validation-for="AgReceipt.Qua" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.Amount" class="control-label"></label>
                                <input id="totalamnt" asp-for="AgReceipt.Amount" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.Amount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="AgReceipt.SBal" class="control-label"></label>
                                <input id="sbal" asp-for="AgReceipt.SBal" class="form-control" readonly />
                                <span asp-validation-for="AgReceipt.SBal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <a id="next" class="btn btn-success">Next</a>
                    </div>
                </div>
                <div class="bsc-tbl-hvr table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>Code.</th>
                                <th>Name</th>
                                <th>Qnty</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Farmer</th>
                                <th><a id="clearAll" class="btn btn-danger">CLEAR</a></th>
                            </tr>
                            <tbody id="details">
                            </tbody>
                        </table>
                    </div>
                </div>
                <h5 class="text-center text-danger">Make Payement</h5>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Total Amount</label>
                                <input id="Amnttopay" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Receive Amount</label>
                                <input id="ttolpaid" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Balance Amount</label>
                                <input id="balance" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <a id="new" class="btn btn-success">New</a>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a id="save1" class="btn btn-success">Save</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        @if (!ViewBag.slopes)
                        {
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            let saleItems = new Array();
            let isStaff = false;
            let isCash = false;
            let isCheckoff = false;
            let isTransport = false;
            let hasSend = true;
            $("#pname").val("");
            $("#sname").val("");
            $('#cash').prop('unchecked');
            $('#checkOffDetails').hide();
            $('#transpoterDetails').hide();
            $('#staffDetails').hide();
            $('#next').hide();
            $('#bprice1').hide();

            var checkiftoenable = @Html.Raw(Json.Serialize(ViewBag.checkiftoenable));
            if (checkiftoenable === 0) {
                $('#zone1').hide();
            }
            else {
                $('#zone1').hide();
            }

            $('input[type="radio"]').click(function () {
                if ($(this).prop("checked") && $(this).attr('id') == 'cash') {
                    isStaff = false;
                    isCash = true;
                    isCheckoff = false;
                    isTransport = false;
                    $('#cash_details').show();
                    $('#checkOffDetails').hide();
                    $('#transpoterDetails').hide();
                    $('#staffDetails').hide();
                    $("#sno").val("");
                    $("#tsno").val("");
                    $("#sname").val("");
                    $('#next').show();
                }
                if ($(this).prop("checked") && $(this).attr('id') == 'checkOff') {
                    isStaff = false;
                    isCash = false;
                    isCheckoff = true;
                    isTransport = false;
                    $('#cash_details').hide();
                    $('#checkOffDetails').show();
                    $('#transpoterDetails').hide();
                    $('#staffDetails').hide();
                    $("#sno").val("");
                    $("#tsno").val("");
                    $("#sname").val("");
                    $('#next').show();
                }
                if ($(this).prop("checked") && $(this).attr('id') == 'transporter') {
                    isStaff = false;
                    isCash = false;
                    isCheckoff = false;
                    isTransport = true;
                    $('#cash_details').hide();
                    $('#checkOffDetails').hide();
                    $('#staffDetails').hide();
                    $('#transpoterDetails').show();
                    $("#sno").val("");
                    $("#tsno").val("");
                    $("#sname").val("");
                    $('#next').show();
                }
                if ($(this).prop("checked") && $(this).attr('id') == 'staff') {
                    isStaff = true;
                    isCash = false;
                    isCheckoff = false;
                    isTransport = false;
                    $('#cash_details').hide();
                    $('#checkOffDetails').hide();
                    $('#transpoterDetails').hide();
                    $('#staffDetails').show();
                    $("#sno").val("");
                    $("#tsno").val("");
                    $("#sname").val("");
                    $('#next').show();
                }
                let journalDetails = new Array();
                $('#drAmt').on('blur', function () {
                    let drAmt = parseFloat($("#drAmt").val());
                    if (drAmt) {
                        buildJournalDetails();
                    }
                });

                $('#clearAll').on('click', function () {
                    saleItems = new Array();
                    populateDetailsTable();
                });

                $('#save1').on('click', function (event) {
                    if (hasSend) {
                        return;
                    }
                    
                    $("#save1").attr("disabled", "disabled");
                    event.preventDefault()
                    event.stopImmediatePropagation();
                    let print = $('#print').prop('checked');
                    let sms = $('#sms').prop('checked');
                    let net = $('#Net').val();
                    let rno = $('#RNo').val();
                    if (rno ==="") {
                        alert("Sorry, Kindly Provide the Receipt No.");
                        return;
                    }

                    $.ajax({

                        type: 'POST',
                        url: "SaveReturns?RNo=" + $("#RNo").val() + "&isStaff=" + isStaff + "&isCash=" + isCash,
                        contentType: 'application/json',
                        data: JSON.stringify(saleItems),
                        success: function (response) {
                            $("#save1").removeAttr("disabled");
                            $("#RNo").val(response.rno);
                            if (print) {
                                var content = generateHTML(response, saleItems);
                                printJS({
                                    printable: content,
                                    type: 'raw-html',
                                    style: '#printMe { font-size: 12px; }'
                                });
                            }
                            clearafthersave();
                            saleItems = new Array();
                            populateTable();
                            populateDetailsTable();
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                });

                function populateDetailsTable() {
                    let itemTableRows = new Array();
                    saleItems.forEach(j => {
                        drAmt = j.isdebit ? j.amount : 0;
                        crAmt = j.isdebit ? 0 : j.amount;
                        itemTableRows.push(`<tr>
                                <td>${j.glAcc}</td>
                                <td>${drAmt}</td>
                                <td>${crAmt}</td>
                            </tr>`);
                    });

                    $('#details').html(itemTableRows);
                }
            });
            $('#pname').on('change', function () {
                var products = @Html.Raw(Json.Serialize(Model.AgProductobj));
                var selectVal = $("#pname").val();
                var selectProducts = products.filter(p => p.PName.trim() === selectVal);
                if (selectProducts[0]) {
                    $("#pcode").val(selectProducts[0].PCode);
                    $("#qnty").val("-1");
                    $("#Amnttopay").val("0");
                    $("#ttolpaid").val("0");
                    $("#balance").val("0");
                    $("#sbal").val(selectProducts[0].OBal);
                    $("#bprice").val(selectProducts[0].Pprice);
                    $("#sprice").val(selectProducts[0].Sprice);
                    var qty = parseFloat($("#qnty").val());
                    var price = parseFloat($("#sprice").val());
                    $("#totalamnt").val(qty * price);

                }
            });
            $('#new').on('click', function () {
                clearafthersave();
            });

            function clearafthersave() {
                $("#pcode").val("");
                $("#pname").val("");
                $("#tsno").val("");
                $("#tname").val("");
                $("#sno").val("");
                $("#names").val("");
                $("#qnty").val("0");
                $("#Amnttopay").val("0");
                $("#ttolpaid").val("0");
                $("#balance").val("0");
                $("#sbal").val("0");
                $("#bprice").val("0");
                $("#sprice").val("0");
                $("#totalamnt").val("0");
                $("#Gross").val("0");
                $("#Deductions").val("0");
                $("#Net").val("0");
            }

            $('#tsno').on('keyup', function () {
                getSelectedDateTransporterIntakes();
            });
            function getSelectedDateTransporterIntakes() {
                var sno = $('#tsno').val().toUpperCase();
                var date = $('#TDate').val();
                debugger
                $.ajax(
                    {
                        type: 'GET',
                        url: "selectedDateTransporterIntake?sno=" + sno + "&date=" + date,
                        contentType: 'application/json',
                        success: function (response) {
                            $("#tname").val(response.todaysIntake);
                            let net = response.gross - response.deductions;
                            $("#TNet").val(net.toFixed(2));
                        },
                        failure: function (response) {
                        }
                    }).then(function () {

                    });
            }
            function sumtotalkgsT() {
                let products = @Html.Raw(Json.Serialize(Model.ProductIntake));
                var selectVal = $("#tsno").val().toUpperCase();
                let selectProducts = products.filter(p => p.Sno.toUpperCase() === selectVal);
                let sumqty = 0;
                let sumDr = 0;
                let sumCr = 0;
                let totalsum = 0;
                selectProducts.forEach(p => {
                    sumDr += p.DR;
                    sumCr += p.CR;
                })
                totalsum = sumCr - sumDr;
                $("#TNet").val(totalsum);
            }
            $('#zone').change(function () {
                var selectVal = $("#sno").val().toUpperCase();
                getSelectedDateIntakes();
            });
            $('#sno').on('keyup', function () {
                var selectVal = $("#sno").val().toUpperCase();
                getSelectedDateIntakes();
            });
            function getSelectedDateIntakes() {
                var zone = $('#zone').val();
                var sno = $('#sno').val().toUpperCase();
                var mevng = $('#mevng').val();
                var date = $('#TDate').val();

                $.ajax(
                    {
                        type: 'GET',
                        url: "selectedDateIntake?sno=" + sno + "&date=" + date,
                        contentType: 'application/json',
                        success: function (response) {
                            //$("#names").val(response);
                            $("#names").val(response.todaysIntake);
                            $("#Gross").val(response.gross.toFixed(2));
                            $("#Deductions").val(response.deductions.toFixed(2));
                            let net = response.gross - response.deductions;
                            $("#Net").val(net.toFixed(2));
                            ///sumtotalkgs();
                        },
                        failure: function (response) {
                        }
                    }).then(function () {

                    });
            }

            function sumtotalkgs() {
                let products = @Html.Raw(Json.Serialize(ViewBag.productintake));
                var selectVal = $("#sno").val().toUpperCase();
                let selectProducts = products.filter(p => p.Sno.toUpperCase() === selectVal);
                let sumqty = 0;
                let sumDr = 0;
                let sumCr = 0;
                let sumtotal = 0;
                selectProducts.forEach(p => {
                    sumDr += p.DR;
                    sumCr += p.CR;
                })
                $("#Gross").val(sumCr);
                $("#Deductions").val(sumDr);
                let gross = sumCr;
                let deduction = sumDr;
                sumtotal = gross - deduction;
                $("#Net").val(sumtotal);
            }

            $('#next').on('click', function () {
                event.preventDefault()
                hasSend = false;
                var pname = $("#pname").val();
                debugger
                if (isCheckoff) {
                    if ($('#names').val() == '') {
                        alert("Sorry, Supplier Does Not Exist.");
                        return;
                    }
                }
                if (isTransport) {
                    if ($('#tname').val() == '') {
                        alert("Sorry, Transporter Does Not Exist.");
                        return;
                    }
                }

                if (!checkkgs()) {
                    return;
                }
                getProductBal(pname);
            });
            function checkkgs() {
                var qty = parseFloat($("#qnty").val());
                if (qty >= 0) {
                    alert("Sorry, Quantity should be less than 0");
                    $("#qnty").val(-1);
                    return false;
                }
                return true;
            }
            function checkbal() {
                // var qnty = parseFloat($("#qnty").val());
                // var qntybal = parseFloat($("#sbal").val());
                // if (qnty > qntybal) {
                //     error.textContent = "Quantity cannot be grater than the Balance in stock"
                //     error.style.color = "red"
                //     document.getElementById('qnty').focus();
                //     return false;
                // }
                 return true;
            }

            $('#ttolpaid').on('keyup', function () {
                var qty = parseFloat($("#Amnttopay").val());
                var price = parseFloat($("#ttolpaid").val());
                if (qty && price) {
                    $("#balance").val(qty - price);
                }
            });
            $('#qnty').on('keyup', function () {
                if (!checkkgs()) {
                    return;
                }
                calculatePrice();
            });

            function populateTable() {
                let itemTableRows = new Array();
                $("#Gross").val("");
                $("#Deductions").val("");
                let Amnttopay = 0;
                saleItems.forEach(i => {
                    Amnttopay += i.DR;
                    itemTableRows.push(`<tr>
                                                    <td>${i.pcode}</td>
                                                    <td>${i.pname}</td>
                                                    <td>${i.Qsupplied}</td>
                                                    <td>${i.sprice}</td>
                                                    <td>${i.totalamnt}</td>
                                                    <td>${i.Sno}</td>
                                                </tr>`);
                });

                $('#details').html(itemTableRows);
                $("#Amnttopay").val(Amnttopay);
                $("#balance").val(0);
            }

            function populateDetailsTable() {
                let itemTableRows = new Array();
                saleItems.forEach(j => {
                    drAmt = j.isdebit ? j.amount : 0;
                    crAmt = j.isdebit ? 0 : j.amount;
                    itemTableRows.push(`<tr>
                                    <td>${j.glAcc}</td>
                                    <td>${drAmt}</td>
                                    <td>${crAmt}</td>
                                </tr>`);
                });

                $('#details').html(itemTableRows);
            }

            function getProductBal(pname) {
                $.ajax(
                    {
                        type: 'GET',
                        url: "getProductBal?pname=" + pname,
                        contentType: 'application/json',
                        success: function (response) {
                             var soldProducts = saleItems.filter(p => p.Description.trim() === pname);
                             soldProducts.forEach(p => response.OBal -= p.Qsupplied);
                            // if (response.OBal > 0) {
                                getSoldItems();
                            // }
                            // else {
                            //     alert("Sorry, Kindly check on your stock balance");
                            // }
                             $("#sbal").val(response.OBal);
                        },
                        failure: function (response) {
                        }
                    }).then(function () {

                    });
            }

            function getSoldItems() {
                
                var products = @Html.Raw(Json.Serialize(Model.AgProductobj));
                if (!checkbal()) {
                    return;
                }
                //$('#save1').attr('disabled', true);
                var pcode = $("#pcode").val();
                var pname = $("#pname").val();
                var bprice = $("#bprice").val();
                var sprice = $("#sprice").val();
                var qnty = $("#qnty").val();
                var totalamnt = parseFloat($("#totalamnt").val());
                var total = parseFloat($("#Amnttopay").val());
                var tpay = parseFloat($("#ttolpaid").val());

                var sno = $("#sno").val() ? $("#sno").val() : $("#tsno").val();
                sno = sno ? sno : $("#sname").val();
                saleItems.push({
                    Sno: sno,
                    sprice: sprice,
                    totalamnt: totalamnt,
                    pname: pname,
                    pcode: pcode,
                    Description: pname,
                    DateTime: $("#date").val(),
                    TransDate: $("#TDate").val(),
                    TransTime: $("#date").val(),
                    ProductType: "AGROVET",
                    Qsupplied: $("#qnty").val(),
                    Ppu: $("#sprice").val(),
                    CR: "0",
                    DR: totalamnt,
                    Balance: totalamnt,
                    Paid: "true",
                    Remarks: pname,
                });

                populateTable();
            }



            function calculatePrice() {
                var qty = parseFloat($("#qnty").val());
                var price = parseFloat($("#sprice").val());
                
                if (qty && price) {
                    $("#totalamnt").val(qty * price);
                }
            }
        });
    </script>
}


