@model EasyPro.Models.UserAccount

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="UserLoginIds" class="control-label"></label>
                            <input asp-for="UserLoginIds" class="form-control" />
                            <span asp-validation-for="UserLoginIds" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="UserGroup" class="control-label"></label>
                            <select asp-for="UserGroup" class="form-control" asp-items="@ViewBag.userGroups"></select>
                            <span asp-validation-for="UserGroup" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" id="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label"> Confirm Password </label>
                            <input id="confirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Branch" class="control-label"></label>
                            <select asp-for="Branch" id="Branch" class="form-control" asp-items="@ViewBag.branches"></select>
                            <span asp-validation-for="Branch" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label"> Organization Code</label>
                            <select asp-for="Branchcode" class="form-control" asp-items="@ViewBag.saccos"></select>
                            <span asp-validation-for="Branchcode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="AssignGl" class="control-label"></label>
                            <select asp-for="AssignGl" class="form-control" asp-items="@ViewBag.accounts"></select>
                            <span asp-validation-for="AssignGl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
        $(function () {
            $('#Branch').on('change', function () {
                var selectVal = $("#Branch").val();
                var branches = @Html.Raw(Json.Serialize(ViewBag.dBranches));
                var selectBranches = branches.filter(p => p.bname === selectVal);
                if (selectBranches[0]) {
                    $("#Branchcode").val(selectBranches[0].bcode);
                }
            });

            $('#confirmPassword').on('blur', function () {
                var confirmPassword = $("#confirmPassword").val();
                var password = $("#Password").val();
                if (!password) {
                    $("#confirmPassword").val('');
                    return
                }
                if (password != confirmPassword) {
                    $("#Password").val('');
                    $("#confirmPassword").val('');
                    return
                }
            });
        });
</script>
}
