@model IEnumerable<EasyPro.Models.UserAccount>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h3 class="text-danger fa-bold">Users</h3>
                </div>
            </div>

            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserLoginIds)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Branchcode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserGroup)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserLoginIds)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branchcode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserGroup)
                                    </td>
                                    <td>
                                        <a asp-action="ResetPassword" asp-route-id="@item.Userid">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
