@model IEnumerable<EasyPro.Models.DMilkintake>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qsupplied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ppu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditdatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Run)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productprocess)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qsupplied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ppu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditdatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Run)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productprocess)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
