<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1050px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <h3 class="text-danger fa-bold">Gl Inquiry</h3>
                    <input id="myInput" type="text" placeholder="Search.."/>
                </div>
                <div class="col-sm-7 col-xs-12">

                </div>
            </div>

            <form asp-action="Create">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Account No.</label>
                            <input id="accNo" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Account Name</label>
                            <input id="accName" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Balance</label>
                            <input id="balance" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">From Date</label>
                            <input type="date" id="fromDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">To Date</label>
                            <input type="date" id="toDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">

                    </div>
                </div>

                <div class="bsc-tbl-hvr table-border-style" id="gl-setup">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Acc No</th>
                                <th>Acc Name</th>
                              </tr>
                            </thead>
                            <tbody id="glTable">
                                @foreach (var account in ViewBag.glAccounts)
                                {
                                     <tr onclick="getSelectedAcc(@account.AccNo)">
                                        <td>@account.AccNo</td>
                                        <td>@account.GlAccName</td>
                                     </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>

            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <div class="divScroll">
                        <table class="table table-hover" id="customers">
                            <thead>
                                <tr>
                                    <th>
                                        Document No
                                    </th>
                                    <th>
                                        Trans Descript
                                    </th>
                                    <th>
                                        Trans Date
                                    </th>
                                    <th>
                                        Debits
                                    </th>
                                    <th>
                                        Credits
                                    </th>
                                    <th>
                                        Balance
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="details">
                            </tbody>
                        </table>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
            $(function () {
                let journalDetails = new Array();
                $('#myInput').on('keyup', function () {
                    $('#gl-setup').show();
                    var value = $(this).val().toLowerCase();
                    $("#glTable tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

                $('#accNo').on('keyup', function () {
                    var glAccounts = @Html.Raw(Json.Serialize(ViewBag.glAccounts));
                    var accNo = $("#accNo").val();
                    var glAccount = glAccounts.filter(p => p.AccNo === accNo);
                    if (glAccount[0]) {
                        $("#accName").val(glAccount[0].GlAccName);
                    }

                    buildJournalDetails();
                });

                $('#gl-setup').hide();
                $('#fromDate').on('change', function () {
                    buildJournalDetails();
                });

                $('#toDate').on('change', function () {
                    buildJournalDetails();
                });

                function buildJournalDetails() {
                    var accNo = $("#accNo").val();
                    var fromDate = $("#fromDate").val();
                    var toDate = $("#toDate").val();
                    var filter = {
                        accNo: accNo,
                        fromDate: fromDate,
                        toDate: toDate
                    };

                    if (accNo && fromDate && toDate) {
                        $.ajax({
                            type: 'POST',
                            url: "glInquiry",
                            contentType: 'application/json',
                            data: JSON.stringify(filter),
                            success: function (response) {
                                response = response ? response : {};
                                response.bookBalance = response.bookBalance ? response.bookBalance : 0;
                                $("#balance").val(response.bookBalance);
                                journalDetails = response.journals ? response.journals : new Array();
                                populateDetailsTable();
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                    }
                }

                function populateDetailsTable() {
                    let itemTableRows = new Array();
                    journalDetails.forEach(j => {
                        itemTableRows.push(`<tr>
				                <td>${j.DocumentNo}</td>
                                <td>${j.TransDescript}</td>
                                <td>${j.TransDate}</td>
                                <td>${j.Dr}</td>
                                <td>${j.Cr}</td>
                                <td>${j.Bal}</td>
			                </tr>`);
                    });

                    $('#details').html(itemTableRows);
                }
            });

            function getSelectedAcc(accNo) {
                accNo = `${accNo}`;
                $("#accNo").val(accNo);
                var glAccounts = @Html.Raw(Json.Serialize(ViewBag.glAccounts));
                var glAccount = glAccounts.filter(p => p.AccNo === accNo);
                if (glAccount[0]) {
                    $("#accName").val(glAccount[0].GlAccName);
                }
                $('#gl-setup').hide();
            }
    </script>
}
