@model EasyPro.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchasePaymentTerms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchasePaymentTerms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesPaymentTerms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesPaymentTerms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FiscalPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FiscalPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ARGlAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ARGlAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personnel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Personnel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.industry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.industry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
