@model IEnumerable<EasyPro.Models.Dispatch>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <h3 class="text-danger fa-bold">Branch Dispatch</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input id="gfg" type="text" class="form-control"
                           placeholder="Search here">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a asp-action="BranchCreate" class="btn btn-primary">Create New</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transdate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TIntake)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dispatchkgs)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Branch)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="geeks">
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Transdate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TIntake)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dispatchkgs)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Branch)
                                </td>
                                <td>
                                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#gfg").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#geeks tr").filter(function () {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}
