@model EasyPro.Models.Glsetup

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="AccNo" class="control-label"></label>
                            <input asp-for="AccNo" class="form-control" />
                            <span asp-validation-for="AccNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="GlAccName" class="control-label"></label>
                            <input asp-for="GlAccName" class="form-control" />
                            <span asp-validation-for="GlAccName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="GlAccType" class="control-label"></label>
                            <select asp-for="GlAccType" id="gltype" class="form-control" >
                                <option value=""></option>
                                <option value="Income Statement">Income Statement</option>
                                <option value="Balance Sheet">Balance Sheet</option>
                                <option value="Retained Earnings">Retained Earnings</option>
                            </select>
                            <span asp-validation-for="GlAccType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="GlAccMainGroup" class="control-label"></label>
                            <select asp-for="GlAccMainGroup" id="glmaingroup" class="form-control"  required>
                            </select>
                            <span asp-validation-for="GlAccMainGroup" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="GlAccGroup" class="control-label"></label>
                            <select asp-for="GlAccGroup" id="glcategory" class="form-control" asp-items="@ViewBag.subGroups" required disabled>
                                <option value="" disabled selected hidden>Please Choose...</option>
                            </select>
                            <span asp-validation-for="GlAccGroup" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="NormalBal" class="control-label"></label>
                            <input asp-for="NormalBal" id="normalBal" class="form-control" />
                            <span asp-validation-for="NormalBal" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CurrentBal" class="control-label"></label>
                            <input asp-for="CurrentBal" class="form-control" />
                            <span asp-validation-for="CurrentBal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="OpeningBal" class="control-label"></label>
                            <input asp-for="OpeningBal" class="form-control" />
                            <span asp-validation-for="OpeningBal" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="AccCategory" class="control-label"></label>
                            <select asp-for="AccCategory" id="glcategoryName" class="form-control" asp-items="@ViewBag.categories" required disabled>
                                <option value="" disabled selected hidden>Please Choose...</option>
                            </select>
                            <span asp-validation-for="AccCategory" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Curr" class="control-label"></label>
                            <select asp-for="Curr" class="form-control" asp-items="@ViewBag.currencies">
                                <option value="" disabled selected hidden>Please Choose...</option>
                            </select>
                            <span asp-validation-for="Curr" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Actuals" class="control-label"></label>
                            <input asp-for="Actuals" class="form-control" />
                            <span asp-validation-for="Actuals" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Budgetted" class="control-label"></label>
                            <input asp-for="Budgetted" class="form-control" />
                            <span asp-validation-for="Budgetted" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input asp-for="IsRearning" type="checkbox" />
                            <label asp-for="IsRearning"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Issuspense" type="checkbox" />
                            <label asp-for="Issuspense"></label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Subtype" class="control-label"></label>
                            <input asp-for="Subtype" class="form-control" />
                            <span asp-validation-for="Subtype" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(function () {
            let subcounties = @Html.Raw(Json.Serialize(ViewBag.SubCountyName));
            let wards = @Html.Raw(Json.Serialize(ViewBag.WardSubCounty));
            let locations = @Html.Raw(Json.Serialize(ViewBag.locations));
            $(".gltype").on('click', function () {
                getSelectedDateIntakes();
            });
            function getSelectedDateIntakes() {
                $('#glmaingroup').empty();
                $('#glcategory').empty();
                $('#glcategoryName').empty();
                $('#normalBal').val('');
                $('#glmaingroup').append($('<option>').val('').text(''))
                $('#glmaingroup').prop('disabled', false);
                $('#glcategory').prop('disabled', true);
                $('#glcategoryName').prop('disabled', true);
                var type = document.getElementById("gltype").value;
                let array;
                if (type === 'Income Statement') {
                    array = ['', 'INCOME', 'EXPENSES'];
                }
                if (type === 'Balance Sheet') {
                    array = ['', 'ASSETS', "LIABILITIES", "SHAREHOLDERS FUND AND  LIABILITIES"];
                }
                if (type === "Retained Earnings") {
                    array = [""];
                }
                var string = "";
                for (let i = 0; i < array.length; i++) {
                    string = string + "<option>" + array[i] + "</option>";
                }
                document.getElementById('glmaingroup').innerHTML = string;
            }
            $('#gltype').on('change', function () {
                getSelectedDateIntakes();
                
            });

            $('#glmaingroup').on('change', function () {
                $('#glcategory').empty();
                $('#glcategoryName').empty();
                $('#normalBal').val('');
                $('#glcategory').prop('disabled', false);
                $('#glcategoryName').prop('disabled', false);
                let curr_wards = document.getElementById("glmaingroup").value;
                let array;
                if (curr_wards === "INCOME") {
                    array = '';
                    $('#normalBal').val('CR');
                    array = ['', "Revenue","Purchases","Other Incomes"];
                }
                if (curr_wards === "EXPENSES") {
                    array = '';
                    $('#normalBal').val('DR');
                    array = ['', "Members/Committee Expenses", "Personnel expenses", "Operating Expenses","Other Operating Expenses"];
                }
                if (curr_wards === "ASSETS") {
                    array = '';
                    $('#normalBal').val('DR');
                    array = ['', "Fixed Asset", "Intagible Asset", "Current Asset"];
                }
                if (curr_wards === "LIABILITIES") {
                    array = '';
                    $('#normalBal').val('CR');
                    array = ['', "Current Liabilities"];
                }
                let val = "SHAREHOLDERS FUND AND  LIABILITIES";
                if (curr_wards === val) {
                    array = '';
                    $('#normalBal').val('CR');
                    array = ['', "Shareholders Equity", "Capital Reserves", "Retained Earnings","Revenue Reserves"];
                }
                var string = "";
                for (let i = 0; i < array.length; i++) {
                    string = string + "<option>" + array[i] + "</option>";
                }
                document.getElementById('glcategory').innerHTML = string;
            });
            $('#glcategory').on('change', function () {
                $('#glcategoryName').empty();
                $('#glcategory').prop('disabled', false);
                $('#glcategoryName').prop('disabled', false);
                let curr_wards = document.getElementById("glcategory").value;
                let array;
                if (curr_wards === "Revenue") {
                    array = '';
                    $('#normalBal').val('CR');
                    array = ['', "Sales of Milk"];
                }
                if (curr_wards === "Purchases") {
                    array = '';
                    $('#normalBal').val('DR');
                    array = ['', "Cost of Sales"];
                }
                if (curr_wards === "Other Incomes") {
                    array = '';
                    $('#normalBal').val('CR');
                    array = ['', "Posting Charges","Withdrawal Charges","Other Sundry Incomes","Interest from Advances"];
                }
                if (curr_wards === "Members/Committee Expenses") {
                    array = '';
                    array = ['', "Committee Sitting Allowances","Committee Travelling & Subsistence Allowances","Member Education","Entertainment","AGM Expenses"];
                }
                if (curr_wards === "Personnel expenses") {
                    array = '';
                    array = ['', "Salaries & Wages","Other Staff Expenses"];
                }
                if (curr_wards === "Other Operating Expenses") {
                    array = '';
                    array = ['', "Printing and Stationery", "Bank Charges", "Computer Repair", "Postage and Telephone", "Rent", "Proposal Writing", "Effluent and Discharge", "Licence", "Water", "Electricity", "RMI", "Interest on Bank Loan", "Chemicals", "Professional/ consultancy", "Transport", "General Expenses"];
                }
                if (curr_wards === "Operating Expenses") {
                    array = '';
                    array = ['', "Depreciation", "Amortization","Audit Fees"];
                }
                if (curr_wards === "Fixed Asset") {
                    array = '';
                    array = ['', "Property & Equipment", "Cooling plant & Accessories", "Land", "Vehicle", "Furniture and fittings", "Water Tank", "Computer and Accessories", "Generator", "Dairy Equipments","Office Equipments"];
                }
                if (curr_wards === "Intagible Asset") {
                    array = '';
                    array = ['', "Software", "Goodwil"];
                }
                if (curr_wards === "Current Asset") {
                    array = '';
                    array = ['', "Deposits", "Debtors", "Stock","Cash  and Bank Balances"];
                }
                if (curr_wards === "Current Liabilities") {
                    array = '';
                    array = ['', "Payments due to Members", "Coop Loan Balance", "Accounts Payable"];
                }
                if (curr_wards === "Shareholders Equity") {
                    array = '';
                    array = ['', "Share  Capital"];
                }
                if (curr_wards === "Capital Reserves") {
                    array = '';
                    array = ['', "Grants"];
                }
                if (curr_wards === "Retained Earnings") {
                    array = '';
                    array = ['', "Retained Earnings"];
                }
                if (curr_wards === "Revenue Reserves") {
                    array = '';
                    array = ['', "Revenue Reserve"];
                }
                var string = "";
                for (let i = 0; i < array.length; i++) {
                    string = string + "<option>" + array[i] + "</option>";
                }
                document.getElementById('glcategoryName').innerHTML = string;
            });
        });
</script>
}
