@model EasyPro.Models.Glsetup

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Delete</h2>
            </div>
            <hr />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.GlCode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GlCode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GlAccName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GlAccName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GlAccType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GlAccType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GlAccGroup)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GlAccGroup)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GlAccMainGroup)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GlAccMainGroup)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NormalBal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NormalBal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GlAccStatus)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GlAccStatus)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OpeningBal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OpeningBal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CurrentBal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CurrentBal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Bal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CurrCode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CurrCode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AuditOrg)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AuditOrg)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AuditId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AuditId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AuditDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AuditDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Curr)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Curr)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Actuals)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Actuals)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Budgetted)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Budgetted)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TransDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TransDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsSubLedger)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsSubLedger)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AccCategory)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AccCategory)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NewGlopeningBal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NewGlopeningBal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NewGlopeningBalDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NewGlopeningBalDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Branch)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Branch)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hcode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hcode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mcode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mcode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hname)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hname)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Header)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Header)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mheader)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mheader)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Iorder)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Iorder)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Border)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Border)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Subtype)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Subtype)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsRearning)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsRearning)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Issuspense)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Issuspense)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Run)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Run)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Glid" />
                    <input type="hidden" asp-for="AccNo" />
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

