@model EasyPro.ViewModels.ProductIntakeVm

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
           
            <form asp-action="CreateCorrection">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                        <h2>Create</h2>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="zone1">
                        @*@if (ViewBag.isAinabkoi){*@
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                @*<label class="control-label">Zone</label>
                                <select id="zone" asp-for="Zone" class="form-control" asp-items="@ViewBag.zones" required>
                                    <option value=""></option>
                                </select>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="MorningEvening">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Morning/Evening</label>
                                <select id="mevng" asp-for="MornEvening" class="form-control" asp-items="@ViewBag.morningEve"> </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        Today's Intake:
                        <input asp-for="Todaykgs" id="Sn" class="form-control" readonly />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        Today's Branch Intake:
                        <input asp-for="TodayBranchkgs" id="n" class="form-control" readonly />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Intake Date</label>
                            <input id="transDate" asp-for="TransDate" class="form-control" type="date" required />
                            <span asp-validation-for="TransDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Sno" class="control-label"></label>
                            <input asp-for="Sno" id="Sno" OnChange="document.getElementById('Qsupplied').focus();" class="form-control" required />
                            <span asp-validation-for="Sno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Names</label>
                            <input id="Names" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ProductType" class="control-label"></label>
                            <select id="ProductType" asp-for="ProductType" class="form-control" asp-items="@ViewBag.products">
                                <option value=""></option>
                            </select>
                            <span asp-validation-for="ProductType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label id="Ppu1" asp-for="Ppu" class="control-label"></label>
                            <input id="Ppu" asp-for="Ppu" class="form-control" readonly />
                            <span asp-validation-for="Ppu" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Qsupplied" class="control-label"></label>
                            <input id="Qsupplied" asp-for="Qsupplied" class="form-control" required />
                            <span asp-validation-for="Qsupplied" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Amount</label>
                            <input asp-for="CR" id="CR" class="form-control" readonly />
                            <span asp-validation-for="CR" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               
                <div class="row" id="DrCr">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="DrAccNo" class="control-label"></label>
                            <input id="DrAccNo" asp-for="DrAccNo" class="form-control" readonly />
                            <span asp-validation-for="DrAccNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CrAccNo" class="control-label"></label>
                            <input asp-for="CrAccNo" id="CrAccNo" class="form-control" readonly />
                            <span asp-validation-for="CrAccNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <input asp-for="Remarks" id="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input asp-for="Print" id="print" type="checkbox" />
                            <label asp-for="Print" for="print" class="control-label"></label>
                            <span asp-validation-for="Print" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SMS" id="SMS" type="checkbox" />
                            <label asp-for="SMS" for="SMS" class="control-label"></label>
                            <span asp-validation-for="SMS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a id="save" class="btn btn-success">Save</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="CorrectionList" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
    $(function () {
        $("#print").prop("checked", true);
        var today = new Date().toISOString().split('T')[0];
        $("#transDate").val(today);
        var products = @Html.Raw(Json.Serialize(ViewBag.productPrices));
        products = products ? products : [];
        document.getElementById('Sno').focus();
        $("#Sno").val("");
        $("#zone").val("");
        $("#Qsupplied").val("");
        $('#mevng').val('');
        $('#DrCr').hide();

        var checkiftoenable = @Html.Raw(Json.Serialize(ViewBag.checkiftoenable));
            if (checkiftoenable === 0) {
                $('#zone1').hide();
                $('#MorningEvening').show();
            }
            else {
                $('#zone1').hide();
                $('#MorningEvening').show();
            }
        $('#transDate').change(function () {
        getkgsfortheday();
        });

        if (products.length === 1) {
            $("#ProductType").val(products[0].Products);
            populateFields(products[0].Products);
        }
        $('#ProductType').on('change', function () {
            var selectVal = $("#ProductType").val();
            populateFields(selectVal);
        });

        $('#zone').change(function () {
            var selectVal =  $("#Sno").val();
            getSelectedDateIntakes();
        });
        $('#Sno').on('keyup', function () {
            var selectVal =  $("#Sno").val();
            getSelectedDateIntakes();
        });
        
        $('#Qsupplied').keydown(function (event) {
            if (event.which == 13) {
                getSelectedforsave();
            }
        });

        function getSelectedforsave() {
              var print = $('#print').is(':checked');
                var sms = $('#SMS').is(':checked');
                var intake = {
                    sno: $("#Sno").val(),
                    transDate: $("#transDate").val(),
                    supName: $("#Names").val(),
                    productType: $("#ProductType").val(),
                    ppu: $("#Ppu").val(),
                    qsupplied: $("#Qsupplied").val(),
                    cr: $("#CR").val(),
                    drAccNo: $("#DrAccNo").val(),
                    crAccNo: $("#CrAccNo").val(),
                    remarks: $("#Remarks").val(),
                    mornEvening: $("#mevng").val(),
                    print: print,
                    sms: sms,
                };
                $.ajax({
                    type: 'POST',
                    url: "saveCorrection",
                    contentType: 'application/json',
                    data: JSON.stringify(intake),
                    success: function (response) {
                        $("#Sno").val('');
                        $("#Qsupplied").val(0);
                        document.getElementById('Sno').focus();
                        getkgsfortheday();
                        if (print){
                            var content = generateHTML(response);
                            printJS({
                                printable: content,
                                type: 'raw-html',
                                style: '.blueText {color:blue;}'
                            });
                        }
                        
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });  
        };
        
        function checkifdelivered() {
            const response = confirm("Already Delivered today, Do you want to continue?");
            if (response) {
                getSelectedforsave();
                return true;
            } else {
                $('#Qsupplied').val("");
                return false;
            }
        }
        function getkgsfortheday() {
             var date = $('#transDate').val();
            $.ajax(
                {
                    type: 'GET',
                    url: "sumDateIntake?date=" + date,
                    contentType: 'application/json',
                    success: function (response) {
                        var Todayskg = response.Todayskg;
                        var TodaysBranchkg = response.TodaysBranchkg;
                            $("#Sn").val(Todayskg);
                            $("#n").val(TodaysBranchkg);
                    },
                    failure: function (response) {
                    }
                }).then(function () {

                }); 
        };

        $('#save').on('click', function () {
                getSelectedforsave();
        });

        function getSelectedDateIntakes() {
            var zone = $('#zone').val();
            var sno = $('#Sno').val();
            var mevng = $('#mevng').val();

            $.ajax(
                {
                    type: 'GET',
                    url: "selectedDateIntake?sno=" + sno,
                    contentType: 'application/json',
                    success: function (response) {
                        $("#Names").val(response);
                    },
                    failure: function (response) {
                    }
                }).then(function () {

                });
        }

        $('#Qsupplied').on('keyup', function () {
            calculatePrice();
        });

         function populateFields(product) {
                var products = @Html.Raw(Json.Serialize(ViewBag.productPrices));
             var selectProducts = products.filter(p => p.Products === product);
             if (selectProducts[0].Price === 0) {
                 $("#Ppu").hide();
                 $("#Ppu1").hide();
             } else {
                 $("#Ppu").show();
                 $("#Ppu1").show();
             }
                if (selectProducts[0]) {
                    $("#CR").val();
                    $("#Qsupplied").val();
                    $("#Ppu").val(selectProducts[0].Price);
                    $("#DrAccNo").val(selectProducts[0].DrAccNo);
                    $("#CrAccNo").val(selectProducts[0].CrAccNo);
                }
            }
         function calculatePrice() {
                var qty = parseFloat($("#Qsupplied").val());
                var price = parseFloat($("#Ppu").val());
                if (qty && price) {
                    $("#CR").val(qty * price);
                }
            }
         function generateHTML(response) {
                var mevng = $('#mevng').val();
             var ddate = response.receiptDetails.date;
             var date = new Date(ddate).toLocaleDateString();
             var content = `<div class="row" id="printMe">
                                    <div class="col-xs-12 text-center">
                                     <h4>
                                        ${response.receiptDetails.Name}</br>
                                        Adress: ${response.receiptDetails.Adress}</br>
                                        Tell: ${response.receiptDetails.PhoneNo}</br>
                                        Town: ${response.receiptDetails.Town}</br>
                                        Branch: ${response.receiptDetails.saccoBranch}
                                      </h4>
                                     <h5>
                                        *************************
                                        Product Receipt For: <span style="font-size: 11px">${date}</span></br>
                                        SNo: ${response.receiptDetails.Sno}</br>
                                        Name: ${response.receiptDetails.SupName}</br>
                                        Delivered: ${response.receiptDetails.Qsupplied} kgs</br>
                                        Cummulative: ${response.receiptDetails.cummkgs} kgs</br>
                                        Session: ${response.receiptDetails.MornEvening}</br>
                                        Received By: ${response.receiptDetails.loggedInUser}
                                    </h5>
                                    <h6>DEVELOP BY: AMTECH TECHNOLOGIES LIMITED </h6>
                                        *************************
                                    <hr>
                                </div>
                              </div>`;
                return content;
            }
        });
</script>
}
