@model EasyPro.ViewModels.ProductIntakeVm

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
           
            <form asp-action="CreateCorrection">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                        <h2>Create</h2>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Zone</label>
                                <select id="zone" Value="Select Bank" asp-for="Zone" class="form-control" asp-items="@ViewBag.zones" required></select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        Today's Intake:
                        <input asp-for="Todaykgs" id="Sn" class="form-control" readonly />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        Today's Branch Intake:
                        <input asp-for="TodayBranchkgs" id="n" class="form-control" readonly />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Intake Date</label>
                            <input id="transDate" asp-for="TransDate" class="form-control" type="date" />
                            <span asp-validation-for="TransDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Sno" class="control-label"></label>
                            <input asp-for="Sno" class="form-control" required />
                            <span asp-validation-for="Sno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Names</label>
                            <input id="Names" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ProductType" class="control-label"></label>
                            <select id="ProductType" asp-for="ProductType" class="form-control" asp-items="@ViewBag.products">
                                <option value="" disabled selected hidden>Please Choose...</option>
                            </select>
                            <span asp-validation-for="ProductType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Ppu" class="control-label"></label>
                            <input id="Ppu" asp-for="Ppu" class="form-control" readonly />
                            <span asp-validation-for="Ppu" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Qsupplied" class="control-label"></label>
                            <input id="Qsupplied" asp-for="Qsupplied" class="form-control" required />
                            <span asp-validation-for="Qsupplied" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Amount</label>
                            <input asp-for="CR" id="CR" class="form-control" readonly />
                            <span asp-validation-for="CR" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="DrAccNo" class="control-label"></label>
                            <input id="DrAccNo" asp-for="DrAccNo" class="form-control" readonly />
                            <span asp-validation-for="DrAccNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CrAccNo" class="control-label"></label>
                            <input asp-for="CrAccNo" id="CrAccNo" class="form-control" readonly />
                            <span asp-validation-for="CrAccNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <input asp-for="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input asp-for="Print" type="checkbox" />
                            <label asp-for="Print" class="control-label"></label>
                            <span asp-validation-for="Print" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SMS" type="checkbox" />
                            <label asp-for="SMS" class="control-label"></label>
                            <span asp-validation-for="SMS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(function () {
        var today = new Date().toISOString().split('T')[0];
        var products = @Html.Raw(Json.Serialize(ViewBag.productPrices));
            products = products ? products : [];
        //$("#transDate").val(today);
        $("#Sno").val("");
        $("#Qsupplied").val("");
        if (products.length === 1) {
            $("#ProductType").val(products[0].Products);
            populateFields(products[0].Products);
        }
        $('#ProductType').on('change', function () {
            var selectVal = $("#ProductType").val();
            populateFields(selectVal);
        });
            @*$('#ProductType').on('change', function () {
                var selectVal = $("#ProductType").val();
                var products = @Html.Raw(Json.Serialize(ViewBag.productPrices));
                var selectProducts = products.filter(p => p.Products === selectVal);
                if (selectProducts[0]) {
                    $("#CR").val();
                    $("#Qsupplied").val();
                    $("#Ppu").val(selectProducts[0].Price);
                }
            });*@
            $('#Sno').on('keyup', function () {
                var suppliers = @Html.Raw(Json.Serialize(ViewBag.suppliers));
                var selectVal = parseInt($("#Sno").val());
                var selectSupplier = suppliers.filter(p => p.Sno === selectVal);
                if (selectSupplier[0]) {
                    $("#Names").val(selectSupplier[0].Names);
                }
            });

            $('#Qsupplied').on('keyup', function () {
                calculatePrice();
            });
         function populateFields(product) {
                var products = @Html.Raw(Json.Serialize(ViewBag.productPrices));
                var selectProducts = products.filter(p => p.Products === product);
                if (selectProducts[0]) {
                    $("#CR").val();
                    $("#Qsupplied").val();
                    $("#Ppu").val(selectProducts[0].Price);
                    $("#DrAccNo").val(selectProducts[0].DrAccNo);
                    $("#CrAccNo").val(selectProducts[0].CrAccNo);
                }
            }
            function calculatePrice() {
                var qty = parseFloat($("#Qsupplied").val());
                var price = parseFloat($("#Ppu").val());
                if (qty && price) {
                    $("#CR").val(qty * price);
                }
            }
        });
    </script>
}
