@model EasyPro.Models.ProductIntake

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductIntake</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qsupplied)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qsupplied)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Auditdatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Auditdatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
