@model IEnumerable<EasyPro.ViewModels.ProductIntakeVm>
@{
    ViewData["Title"] = "TDeductionList";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1000px;
        height: 500px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <h3 class="text-danger fa-bold">Transporters Deduction List</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                    <div class="form-group">
                        <input id="transDate" class="form-control" type="date" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <select id="condition" class="form-control">
                            <option></option>
                            <option>TCode</option>
                            <option>Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="form-group">
                        <input id="filter" autocomplete="off" placeholder="Search" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a asp-action="CreateTDeduction" class="btn btn-primary" >Create New</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <div class="divScroll">
                        <table class="table table-hover" id="customers">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sno)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SupName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TransDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Remarks)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Branch)
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="intakes">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#transDate").val(today);
            getSelectedDateIntakes();
            $('#condition').click(function () {
                getSelectedDateIntakes();
            });
            $('#filter').on('keyup', function () {
                getSelectedDateIntakes();
            });
            $('#transDate').on('keyup', function () {
                getSelectedDateIntakes();
            });
            $('#transDate').click(function () {
                getSelectedDateIntakes();
            });
            $('#transDate').change(function () {
                getSelectedDateIntakes();
            });
            function getSelectedDateIntakes() {
                var filter = $("#filter").val();
                var condition = $("#condition").val();
                var date = $('#transDate').val();
                $.ajax({
                    type: 'POST',
                    url: "getsuppliers?filter=" + filter + "&condition=" + condition + "&date=" + date,
                    contentType: 'application/json',
                    success: function (response) {
                        populateIntake(response)
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
                //}
            }
            function populateIntake(intakes) {
                var filter = $("#filter").val();
                var condition = $("#condition").val();
                let itemTableRows = new Array();
                intakes.forEach(i => {
                    //debugger;
                    var ddate = i.TransDate;
                    var dd1 = new Date(ddate).toLocaleDateString();
                    itemTableRows.push(`<tr>
                                    <td>${i.Sno}</td>
                                    <td>${i.SupName}</td>
                                    <td>${dd1}</td>
                                    <td>${i.ProductType}</td>
                                    <td>${i.DR}</td>
                                    <td>${i.Remarks}</td>
                                    <td>${i.Branch}</td>
                                </tr>`)
                });

                $('#intakes').html(itemTableRows);
            }
        });
    </script>
}


