<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1050px;
        height: 200px;
        overflow: auto;
    }
</style>

<div class="row">
    <div class="tabs-info-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="widget-tabs-int">
                        <div class="tab-hd">
                            <h3 class="text-danger fa-bold">Credit Sales Report</h3>
                        </div>
                        <div class="widget-tabs-list">
                            <div class="row">
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">DateFrom</label>
                                        <input id="firstdate" type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">DateTo</label>
                                        <input id="enddate" type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <label class="control-label">Product</label>
                                    <select id="product" class="chzn-select form-control" asp-items="@ViewBag.products">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <label class="control-label">Sno</label>
                                    <input id="Sno" class="form-control" />
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <label class="control-label">Sales Type</label>
                                    <select id="salestype" class="chzn-select form-control">
                                        <option value="0">ALL</option>
                                        <option value="1">OUTWARDS</option>
                                        <option value="2">INWARDS</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">---</label>
                                        <a asp-controller="AgrovetStockReceive" asp-action="DefaultIndex" class="btn btn-info">Back</a>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#checkoffReport">Report</a></li>
                                <li><a data-toggle="tab" href="#checkoffSummary">Summary</a></li>
                                <li><a data-toggle="tab" href="#checkoffSummarydeduction">Summary Payements</a></li>
                            </ul>
                            <div class="tab-content tab-custom-st">
                                <div id="checkoffReport" class="tab-pane fade in active">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showtable" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_report" class="btn btn-success w3-circle">Export Excel</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">

                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <label class="control-label">--</label>
                                                    <a id="print_report" class="btn btn-success w3-circle">Print Report</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tb_check_off_report">
                                                            <tr id="com"><th></th><th colspan="4" id="company"></th></tr>
                                                            <tr id="htitl"><th></th> <th colspan="4"> <strong>STORE CHECKOFF SALES REPORT</strong></th></tr>
                                                            <tr id="hstartd"><th></th><th colspan="4" id="sema"></th>  </tr>
                                                            <tr id="huser"><th></th><th colspan="4" hidden id="user"></th>  </tr>
                                                            <tr id="companyname"><th></th><th colspan="4">Amtech Technologies ltd</th>  </tr>
                                                            <tr id="her"><th colspan="7"><hr /></th></tr>

                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Receipt No.</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>SNo</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                                <th>TransBy</th>
                                                                <th>User</th>
                                                                <th>Branch</th>
                                                                <th>Sales Type</th>
                                                            </tr>
                                                            <tbody id="check_off_rep_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Quantity</label>
                                                        <input value="0" id="totalquntity" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total SPrice</label>
                                                        <input value="0" id="Tselling" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="checkoffSummary" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summery" class="btn btn-success">Export Excel</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <label class="control-label">--</label>
                                                    <a id="print_report1" class="btn btn-success w3-circle">Print Report</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tb_check_off_summary">
                                                            <tr id="com1"><th></th><th colspan="4" id="company1"></th></tr>
                                                            <tr id="htitl1"><th></th> <th colspan="4"> <strong>STORE CHECKOFF SUMMARY SALES REPORT</strong></th></tr>
                                                            <tr id="hstartd1"><th></th><th colspan="4" id="sema1"></th>  </tr>
                                                            <tr id="huser1"><th></th><th colspan="4" hidden id="user1"></th>  </tr>
                                                            <tr id="companyname1"><th></th><th colspan="4">Amtech Technologies ltd</th>  </tr>
                                                            <tr id="her1"><th colspan="7"><hr /></th></tr>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>SNo</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                            <tbody id="check_off_sum_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Quantity</label>
                                                        <input value="0" id="totquntity" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total SPrice</label>
                                                        <input value="0" id="Tsell" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="checkoffSummarydeduction" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery_deduction" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summery_deduction" class="btn btn-success">Export Excel</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <label class="control-label">--</label>
                                                    <a id="print_report_deduction" class="btn btn-success w3-circle">Print Report</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tb_check_off_summary_deduction">
                                                            <tr id="com5"><th></th><th colspan="4" id="company5"></th></tr>
                                                            <tr id="htitl5"><th></th> <th colspan="4"> <strong>STORE CHECKOFF SALES DETAILED REPORT</strong></th></tr>
                                                            <tr id="hstartd5"><th></th><th colspan="4" id="sema5"></th>  </tr>
                                                            <tr id="huser5"><th></th><th colspan="4" hidden id="user5"></th>  </tr>
                                                            <tr id="companyname5"><th></th><th colspan="4">Amtech Technologies ltd</th>  </tr>
                                                            <tr id="her5"><th colspan="7"><hr /></th></tr>
                                                            <tr>
                                                                <th>SNo</th>
                                                                <th>Name</th>
                                                                <th>Sales</th>
                                                                <th>Partial Payment</th>
                                                                <th>Balance</th>
                                                            </tr>
                                                            <tbody id="check_off_sum_details_deduction">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total Sales</label>
                                                        <input value="0" id="Tsales" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Partial Payment</label>
                                                        <input value="0" id="partialpayment" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            var today = new Date().toISOString().split('T')[0];
            $("#firstdate").val(today);
            $("#enddate").val(today);
            $("#com").hide();
            $("#htitl").hide();
            $("#hstartd").hide();
            $("#huser").hide();
            $("#her").hide();
            $("#companyname").hide();
            $("#com1").hide();
            $("#htitl1").hide();
            $("#hstartd1").hide();
            $("#huser1").hide();
            $("#company1").hide();
            $("#company").hide();
            $("#her1").hide();
            $("#com5").hide();
            $("#htitl5").hide();
            $("#hstartd5").hide();
            $("#huser5").hide();
            $("#company5").hide();
            $("#her5").hide();
            
            $("#companyname1").hide();
            $("#companyname5").hide();

            $("#showtable").click(function () {
                var startDate = $("#firstdate").val();
                var endDate = $("#enddate").val();
                var salestype = $("#salestype").val();
                var zone = $("#zone").val() ? $("#zone").val() : "";
                var product = $("#product").val() ? $("#product").val() : "";
                var sno = $("#Sno").val() ? $("#Sno").val() : "";
                $.ajax(
                    {
                        type: 'POST',
                        url: `checkOffReport?startDate=${startDate}&endDate=${endDate}&product=${product}&sno=${sno}&salestype=${salestype}`,
                        contentType: 'application/json',
                        success: function (response) {
                            populateReports(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });

            $('#excel_report').on('click', function () {
                heading();

                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `Checkoff Report ${date}`;
                $('#tb_check_off_report').table2excel({ filename: fileName, fileext: ".xls" });
            });

             function heading()
            {
                var  company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var  user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" +  date10  + "  TO  :" + date20 ;
                var usa = "Printed By  :" + user ;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user').html(itemTableRows2);
            }
             function heading1()
            {
                var  company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var  user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" +  date10  + "  TO  :" + date20 ;
                var usa = "Printed By  :" + user ;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company1').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema1').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user1').html(itemTableRows2);
            }
             function heading5() {
                var company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" + date10 + "  TO  :" + date20;
                var usa = "Printed By  :" + user;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company5').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema5').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user5').html(itemTableRows2);
            }

            $('#print_report').on('click', function () {
                $("#com").show();
                $("#htitl").show();
                $("#hstartd").show();
                $("#huser").show();
                $("#her").show();
                $("#companyname").show();
                heading();
                var divToPrint = document.getElementById("tb_check_off_report");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com").hide();
                $("#htitl").hide();
                $("#hstartd").hide();
                $("#huser").hide();
                $("#her").hide();
                $("#companyname").hide();
            });
            $('#print_report1').on('click', function () {
                $("#com1").show();
                $("#htitl1").show();
                $("#hstartd1").show();
                $("#huser1").show();
                $("#her1").show();
                $("#companyname1").show();
                heading1();
                var divToPrint = document.getElementById("tb_check_off_summary");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com1").hide();
                $("#htitl1").hide();
                $("#hstartd1").hide();
                $("#huser1").hide();
                $("#her1").hide();
                $("#companyname1").hide();
            });
            $('#print_report_deduction').on('click', function () {
                $("#com5").show();
                $("#htitl5").show();
                $("#hstartd5").show();
                $("#huser5").show();
                $("#her5").show();
                $("#companyname5").show();
                heading5();
                var divToPrint = document.getElementById("tb_check_off_summary_deduction");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com5").hide();
                $("#htitl5").hide();
                $("#hstartd5").hide();
                $("#huser5").hide();
                $("#her5").hide();
                $("#companyname5").hide();
            });
            
            $('#excel_summery').on('click', function () {

                let date = new Date().toLocaleDateString('en-GB'); //
                let fileName = `Checkoff Summery ${date}`;
                $('#tb_check_off_summary').table2excel({ filename: fileName, fileext: ".xls" });
            });
            $('#excel_summery_deduction').on('click', function () {

                let date = new Date().toLocaleDateString('en-GB'); //
                let fileName = `Checkoff Detailed Summery ${date}`;
                $('#tb_check_off_summary_deduction').table2excel({ filename: fileName, fileext: ".xls" });
            });

            $("#showSummery").click(function () {
                var startDate = $("#firstdate").val();
                var endDate = $("#enddate").val();
                var salestype = $("#salestype").val();
                var zone = $("#zone").val() ? $("#zone").val() : "";
                var product = $("#product").val() ? $("#product").val() : "";
                var sno = $("#Sno").val() ? $("#Sno").val() : "";
                $.ajax(
                    {
                        type: 'POST',
                        url: `checkOffSummary?startDate=${startDate}&endDate=${endDate}&product=${product}&sno=${sno}&salestype=${salestype}`,
                        contentType: 'application/json',
                        success: function (response) {
                            response = response ? response : []
                            populateSummary(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });
            $("#showSummery_deduction").click(function () {
                var startDate = $("#firstdate").val();
                var endDate = $("#enddate").val();
                var salestype = $("#salestype").val();
                var product = $("#product").val() ? $("#product").val() : "";
                var sno = $("#Sno").val() ? $("#Sno").val() : "";
                debugger
                $.ajax(
                    {
                        type: 'POST',
                        url: `checkOffSummarydDeductions?startDate=${startDate}&endDate=${endDate}&product=${product}&sno=${sno}&salestype=${salestype}`,
                        contentType: 'application/json',
                        success: function (response) {
                            response = response ? response : []
                            populateSummaryDeduction(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });

            function populateReports(intakes) {
                let itemTableRows = new Array();
                $('#Tbuying').val('0');
                $('#Tselling').val('0');
                $('#TPL').val('0');
                let quntity = 0;
                let totalquntity = 0;
                let Tselling = 0;
                intakes.forEach(i => {
                    Tselling += i.Amount;
                    quntity = i.Qua;
                    if (i.Amount < 0) {
                        quntity = quntity * -1;
                    }
                    totalquntity += quntity;
                    let type = "CheckOff";
                    let dd1 = new Date(i.TDate).toLocaleDateString();
                    itemTableRows.push(`<tr>
                            <td>${dd1}</td>
                            <td>${i.RNo}</td>
                            <td>${i.PCode}</td>
                            <td>${i.Remarks}</td>
                            <td>'${i.SNo}</td>
                            <td>${quntity}</td>
                            <td>${i.Amount.toLocaleString()}</td>
                            <td>${i.Transby}</td>
                            <td>${i.UserId}</td>
                            <td>${i.Branch}</td>
                            <td>${type}</td>
                        </tr>`)

                });
                itemTableRows.push(`<tr>
                                    <td colspan="5"><h3>Total</h3></td>
                                    <td>${totalquntity.toLocaleString()}</td>
                                    <td>${Tselling.toLocaleString()}</td>
                                    </tr>`);
                $('#Tselling').val(Tselling.toLocaleString());
                $('#totalquntity').val(totalquntity.toLocaleString());
                $('#check_off_rep_details').html(itemTableRows);
            }

            function populateSummary(summary) {

                let itemTableRows = new Array();
                $('#Tbuying').val('0');
                $('#Tsell').val('0');
                $('#TPL').val('0');
                let quntity = 0;
                let totalquntity = 0;
                let Tselling = 0;
                summary.forEach(i => {
                    i.sno = i.sno ? i.sno : "";
                    i.product = i.product ? i.product : "";
                    quntity = i.quantity;
                    if (i.amount < 0) {
                        quntity = quntity * -1;
                    }
                    totalquntity += quntity;
                    Tselling += i.amount;
                    let dd1 = new Date(i.date).toLocaleDateString();
                    itemTableRows.push(`<tr>
                        <td>${dd1}</td>
                        <td>${i.product}</td>
                        <td>${i.productName}</td>
                        <td>'${i.sno}</td>
                        <td>${quntity}</td>
                        <td>${i.amount.toLocaleString()}</td>
                    </tr>`)
                });
                itemTableRows.push(`<tr>
                                            <td colspan="5"><h3>Total</h3></td>
                                            <td>${totalquntity.toLocaleString()}</td>
                                            <td>${Tselling.toLocaleString()}</td>
                                            </tr>`);
                $('#Tsell').val(Tselling.toLocaleString());
                $('#totquntity').val(totalquntity.toLocaleString());
                $('#check_off_sum_details').html(itemTableRows);
            }

            function populateSummaryDeduction(summary) {
                let itemTableRows = new Array();
                $('#Tsales').val('0');
                $('#partialpayment').val('0');
                let partialpayment = 0;
                let Tsales = 0;
                summary.forEach(i => {
                    Tsales += i.sales;
                    partialpayment += i.partialpayment;
                    itemTableRows.push(`<tr>
                                <td>'${i.sno}</td>
                                <td>${i.name}</td>
                                <td>${i.sales.toLocaleString()}</td>
                                <td>${i.partialpayment.toLocaleString()}</td>
                                <td>${i.balance.toLocaleString()}</td>
                            </tr>`)
                });
                itemTableRows.push(`<tr>
                                        <td colspan="2"><h3>Total</h3></td>
                                        <td>${Tsales.toLocaleString()}</td>
                                        <td>${partialpayment.toLocaleString()}</td>
                                        <td>${(Tsales - partialpayment).toLocaleString()}</td>
                                    </tr>`);
                $('#Tsales').val(Tsales.toLocaleString());
                $('#partialpayment').val(partialpayment.toLocaleString());
                $('#check_off_sum_details_deduction').html(itemTableRows);
            }
        });
</script>
}


