@model IEnumerable<EasyPro.Models.DTransporter>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <h3 class="text-danger fa-bold">Transporters</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input id="gfg" type="text" class="form-control"
                           placeholder="Search here">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CertNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phoneno)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bcode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accno)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bbranch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="geeks">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CertNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phoneno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bcode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Accno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bbranch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td class="col-4">
                                        <a class="btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a class="btn-info" asp-action="ExportFamers" asp-route-id="@item.Id">Export Farmers</a>
                                        <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#gfg").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#geeks tr").filter(function () {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });
        function Delete() {
            swal({
                
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/Delete",
                        data: { "itemId": item.Id },
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                //success notification
                                toastr.success(data.message);
                                //dataTable.ajax.reload();
                            }
                            else {
                                //failsure notification
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });

        }
    </script>
}
